@import url("https://corellanstoma.github.io/Friends-Grid/src/source.css");


/* USRBG */
.avatar-3W3CeO.wrapper-3t9DeA:before {
  content: '';
  position: absolute !important;
  top: -18px !important;
  left: -20px !important;
  width: 210px !important;
  height: var(--FG-banner-height) !important;
  border-radius: 0px !important;
  opacity: var(--FG-banner-opacity) !important;
  background: var(--user-background, var(--FG-global-banner)) !important;
  background-size: cover;
  background-position: center;
}

.peopleColumn-29fq28 .userInfo-2zN2z8::before {
	content:"";
	position:absolute;
	width:100%;
	height: calc( var(--FG-banner-height) + 8px ) !important;
	opacity: calc( var(--FG-banner-opacity) * 0.8 ) !important;
	background-image:var(--user-background);
	background-position:center;
	background-color:var(--user-accent-color);
	background-size:cover
}
