/* BetterBG/USRBG Import*/
@import url("https://therealgwjosh.github.io/Snippets/CSS/BetterBG/import.css");
@import url('https://therealgwjosh.github.io/KIA/src/app/css/app/Sidebar/user-list.css');

:root {

	--global-bg-opacity: 0;
	--bg-wm-border-radius: 15px;
	--bg-brand: var(--brand-experiment);
	--bg-text: var(--interactive-active);
	--USRBG-WM-Type-Dark: var(--flashcord-dark);
	--USRBG-WM-Type-Light: var(--flashcord-light);
	--flashcord-light: url("https://media.discordapp.net/attachments/881876779193761832/893174508683403354/flash-dark.png?width=22&height=22");
	--flashcord-dark: url("https://media.discordapp.net/attachments/881876779193761832/893173879936258068/flash.png?width=22&height=22"); 

}

/* User Popout */
[class*="theme-dark"] [class*="userPopout"] [class*="banner"]:not([style^="background-image"])::after {
	content: var(--USRBG-WM-Type-Dark);
	position: absolute;
	right: 5px;
	top: 5px;
	font-weight: bold;
	background-color:  var(--bg-brand);
	transform: scale(0.8);
	padding: 2px 6px;
	padding-bottom: 1.1px;
	border-radius: var(--bg-wm-border-radius);
	color:  var(--bg-text);
	margin-bottom: 7px;
	opacity: var(--BetterBG-Opacity, var(--global-bg-opacity));

}

[class*="theme-light"] [class*="userPopout"] [class*="banner"]:not([style^="background-image"])::after {
	content: var(--USRBG-WM-Type-Light);
	position: absolute;
	right: 5px;
	top: 5px;
	font-weight: bold;
	background-color:  var(--bg-brand);
	transform: scale(0.8);
	padding: 2px 6px;
	padding-bottom: 1.1px;
	border-radius: var(--bg-wm-border-radius);
	color:  var(--bg-text);
	margin-bottom: 7px;
	opacity: var(--BetterBG-Opacity, var(--global-bg-opacity));

}

/* User Modal */
[class*="theme-dark"] [class*="header-4zuFdR"] [class*="wrapper"]:not([style^="background-image"])::after {
	content: var(--USRBG-WM-Type-Dark);
	position: absolute;
	right: -530px !important;
	bottom: 80px !important;
	font-weight: bold;
	background-color:  var(--bg-brand);
	transform: scale(0.8);
	padding: 2px 6px;
	padding-bottom: 1.1px;
	border-radius: var(--bg-wm-border-radius);
	color:  var(--bg-text);
	margin-bottom: 7px;
	opacity: var(--BetterBG-Opacity, var(--global-bg-opacity));

}

[class*="theme-light"] [class*="header-4zuFdR"] [class*="wrapper"]:not([style^="background-image"])::after {
	content: var(--USRBG-WM-Type-Light);
	position: absolute;
	right: -530px !important;
	bottom: 80px !important;
	font-weight: bold;
	background-color:  var(--bg-brand);
	transform: scale(0.8);
	padding: 2px 6px;
	padding-bottom: 1.1px;
	border-radius: var(--bg-wm-border-radius);
	color:  var(--bg-text);
	margin-bottom: 7px;
	opacity: var(--BetterBG-Opacity, var(--global-bg-opacity));

}

/* Settings */
[class*="theme-dark"] [class*="avatar-1uQSZT"]::after {
	content: var(--USRBG-WM-Type-Dark);
	position: absolute;
	font-weight: bold;
	background-color:  var(--bg-brand);
	transform: scale(0.8);
	padding: 2px 6px;
	padding-bottom: 1.1px;
	border-radius: var(--bg-wm-border-radius);
	color:  var(--bg-text);
	margin-bottom: 7px;
	top: -240px !important;
	left: -16px !important;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
	z-index: 0 !important;
	opacity: var(--BetterBG-Opacity, var(--global-bg-opacity));
}

[class*="theme-light"] [class*="avatar-1uQSZT"]::after {
	content: var(--USRBG-WM-Type-Light);
	position: absolute;
	font-weight: bold;
	background-color:  var(--bg-brand);
	transform: scale(0.8);
	padding: 2px 6px;
	padding-bottom: 1.1px;
	border-radius: var(--bg-wm-border-radius);
	color:  var(--bg-text);
	margin-bottom: 7px;
	top: -240px !important;
	left: -16px !important;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
	z-index: 0 !important;
	opacity: var(--BetterBG-Opacity, var(--global-bg-opacity));
}
