/* USRBG / Banners - Modal Expanded */
[class*="root-3QyAh1"] [class*="header-"] [class*="wrapper-3t9DeA"]::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -1px;
	width: 646.0%;
	border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
	height: 223%;
	filter: brightness(0.5);
	pointer-events: none;
	border: 1px solid #fff;
	background: var(--user-background) var(--user-popout-position, center)/cover no-repeat;
	background-attachment: var(--user-background, fixed);
}

/* Color Banners */
[class*="root-3QyAh1"] [class*="banner"] {
	height: 240px;
}

/* Nitro Banners */
[class*="root-3QyAh1"] [class*="popoutBannerPremium"] {
	height: 200px;
}

/* Global Filter, Width & Border Radius*/
[class*="root-3QyAh1"] [class*="banner"],
[class*="root-3QyAh1"] [class*="profileBanner"],
[class*="root-3QyAh1"] [class*="popoutBannerPremium"] {
	border: 1px solid #fff;
	width: 99.7%;
	filter: brightness(0.5);
	border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
}

/* Begone Bullshit */
[class*="root-3QyAh1"] [class*="note"],
[class*="root-3QyAh1"] [class*="bodyTitle"],
[class*="root-3QyAh1"] [class*="aboutMeTitle"],
[class*="root-3QyAh1"] [class*="premiumIconWrapper"],
[class*="root-3QyAh1"] [class*="bannerOverlayProfile"],
[class*="root-3QyAh1"] [class*="userInfoSectionHeader"],
[class*="root-3QyAh1"] [class*="title"] [class*="status"],
[class*="root-3QyAh1"] [class*="topSection"] [class*="pointerEvents"] {
	display: none !important;
}

/* Custom Status */
[class*="root-3QyAh1"] [class*="customStatusActivity"] {
	position: absolute;
	margin-top: -96px !important;
	margin-left: -10px !important;
	width: 570px;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	opacity: 0.5;
	transition: 250ms ease all !important;
}

[class*="root-3QyAh1"] [class*="customStatusActivity"]:hover {
	opacity: 1;
	transition: 250ms ease all !important;
}

/* NameTag */
[class*="root-3QyAh1"] [class*="nameTagNoCustomStatus"],
[class*="root-3QyAh1"] [class*="nameTagWithCustomStatus"] {
	margin-top: -290px !important;
	margin-left: 110px !important;
	position: absolute;
}

/* Avatars */
[class*="root-3QyAh1"] [class*="avatar"] {
	transform: scale(0.9);
	left: -30px !important;
	top: -186px !important;
	border: transparent 0px !important;
	background-color: transparent !important;
}

[class*="root-3QyAh1"] {
	overflow: visible;
	border-radius: 0 var(--primary-rounding) var(--primary-rounding) 0;
	width: 700px !important;
	min-height: 400px;
	max-height: 900px;
	padding: 15px;
	border: 1px solid var(--background-secondary-alt);
	background-color: var(--background-primary) !important;
}

[class*="root-3QyAh1"] .body-r6_QPy {
	background-color: var(--background-secondary) !important;
	border-radius: 0 0 var(--primary-rounding) var(--primary-rounding);
}

[class*="root-3QyAh1"] .topSection-y3p-_D {
	background: var(--background-secondary) !important;
	border-top: 1px solid var(--background-secondary-alt);
	border-left: 1px solid var(--background-secondary-alt);
	border-right: 1px solid var(--background-secondary-alt);
	border-radius: var(--primary-rounding) var(--primary-rounding) 0 0;
}


[class*="root-3QyAh1"] [class*="tabBarContainer"] {
	position: absolute;
	top: -1px;
	left: -57px;
	height: 100%;
	width: 56px;
	padding: 0;
	background: var(--background-primary);
	z-index: 1;
	border: 1px solid var(--background-secondary-alt);
	border-radius: var(--primary-rounding) 0 0 var(--primary-rounding);
	overflow: hidden;
}

[class*="root-3QyAh1"] [class*="tabBar-3nvOPa"] {
	padding-top: 5px;
	flex-direction: column;
}

[class*="root-3QyAh1"] [class*="tabBarItem-3dfX8P"] {
	border: none;
	position: relative;
	overflow: visible;
	font-size: 0;
	height: 48px;
	margin: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

[class*="root-3QyAh1"] [class*="tabBarItem-3dfX8P"]::after {
	content: "";
	width: 24px;
	height: 24px;
	background: var(--interactive-normal);
}

[class*="root-3QyAh1"] [class*="tabBarItem-3dfX8P"]:hover {
	background: var(--interactive-muted);
	opacity: 0.4;
}

[class*="root-3QyAh1"] [class*="tabBarItem-3dfX8P"] [class*="selected-3s45Ha"] {
	color: var(--brand-experiment);
}

[class*="root-3QyAh1"] [class*="tabBarItem-3dfX8P"] [class*="selected-3s45Ha"]::after {
	background: var(--brand-experiment);
}

[class*="root-3QyAh1"] [class*="header-"]  {
	position: unset;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 24px;
	box-sizing: border-box;
	margin-top: -60px;
}

[class*="root-3QyAh1"]  [class*="headerTop"] {
	position: static;
	margin-bottom: 18px;
}

[class*="root-3QyAh1"]  [class*="badgeList"] {
	padding-right: 0;
	margin-right: 0;
}

[class*="root-3QyAh1"]  [class*="nameTag"] {
	margin: 12px 24px 24px;
}

[class*="root-3QyAh1"]  [class*="relationshipButtons-pUQVkf"] {
	position: absolute;
	bottom: 16px;
	left: -56px;
	flex-direction: column;
	z-index: 2;
}

[class*="root-3QyAh1"]  [class*="relationshipButtons-pUQVkf"] [class*="actionButton-3vN-m0"] {
	height: 48px;
	width: 56px;
	padding: 0;
	min-width: unset;
	background: transparent;
	border-radius: 0;
	transition: none;
	margin-bottom: 12px;
}

[class*="root-3QyAh1"]  [class*="relationshipButtons-pUQVkf"] [class*="actionButton-3vN-m0"]:hover [class*="contents"] {
	opacity: 1;
	visibility: visible;
}

[class*="root-3QyAh1"]  [class*="relationshipButtons-pUQVkf"] [class*="contents-18-Yxp"] {
	position: absolute;
	top: -46px;
	background: var(--background-primary);
	padding: 10px 12px;
	border-radius: 6px;
	border: 1px solid var(--background-secondary-alt);
	overflow: visible;
	opacity: 0;
	visibility: hidden;
	transition: 200ms;
	transition-property: opacity, visibility;
	pointer-events: none;
	user-select: none;
}

[class*="root-3QyAh1"]  [class*="relationshipButtons-pUQVkf"] [class*="additionalActionsIcon-365LnQ"] {
	margin-left: 0;
}

[class*="root-3QyAh1"]  [class*="customStatusActivity-nmH3DF"] {
	padding: 0 24px 24px;
}

[class*="root-3QyAh1"]  [class*="body-r6_QPy"] {
	background: transparent;
	height: 100%;
	min-height: 140px;
	max-height: 340px;
	border: 1px solid var(--background-secondary-alt);
}

[class*="root-3QyAh1"]  [class*="infoScroller-1Qu30O"] {
	padding: 24px !important;
}

[class*="root-3QyAh1"]  [class*="infoScroller-1Qu30O"] > div[style*="height: 24px"] {
	display: none;
}

[class*="root-3QyAh1"]  [class*="userInfoSection-q_35fn"] {
	padding: 0;
	border: none;
}

[class*="root-3QyAh1"]  [class*="userInfoSection-q_35fn"] + [class*="userInfoSection-q_35fn"] {
	margin-top: 42px;
}

[class*="root-3QyAh1"]  [class*="userBio-3tlrzS"] {
	margin-bottom: 24px;
}

[class*="root-3QyAh1"]  [class*="note-367eZJ"] {
	margin: 0;
}

[class*="root-3QyAh1"]  [class*="listScroller-3GmIYj"] {
	padding: 0 !important;
}

[class*="root-3QyAh1"]  [class*="listScroller-3GmIYj"] > div[style*="height"] {
	display: none;
}

[class*="root-3QyAh1"]  [class*="listRow"] {
	margin: 0;
	padding: 8px 10px;
}

/* SVGS */
[class*="root-3QyAh1"] [class*="relationshipButtons"] [class*="actionButton-3vN-m0"]::before {
	content: "";
	width: 24px;
	height: 24px;
	scale: 0.8;
	background: var(--brand-experiment);
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/settings.svg) center/contain no-repeat;
}

[class*="root-3QyAh1"] [class*="tabBarItem"][aria-controls="user_info-tab"]::after {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/overview.svg) center/contain no-repeat;
}

[class*="root-3QyAh1"] [class*="tabBarItem"][aria-controls="activity-tab"]::after {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/audit.svg) center/contain no-repeat;
}

[class*="root-3QyAh1"] [class*="tabBarItem"][aria-controls="mutual_guilds-tab"]::after {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/invites.svg) center/contain no-repeat;
}

[class*="root-3QyAh1"] [class*="tabBarItem"][aria-controls="mutual_friends-tab"]::after {
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/account.svg) center/contain no-repeat;
}

/* Custom Connections */
[class*="root-3QyAh1"] [class*="connectedAccounts-QlRa4m"] {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 24px;
}

[class*="root-3QyAh1"] [class*="connectedAccount-2Jb-Z0"] {
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	border-radius: var(--primary-rounding);
	border-color: var(--header-primary) brightness(0);
	padding: 12px 16px 12px 18px;
	position: relative;
}

[class*="root-3QyAh1"] [class*="connectedAccountName-E1KzaT"] {
	line-height: normal;
}

[class*="root-3QyAh1"] [class*="connectedAccountNameInner-2q3MVf"] {
	--connection-color: var(--brand-experiment);
	overflow: visible;
}

[class*="root-3QyAh1"] [class*="connectedAccountNameInner-2q3MVf"]::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 6px;
	height: 100%;
	width: 100%;
	z-index: 0;
	opacity: 0.1;
	background: var(--connection-color);
}

/* Color Vars */
[class*="connectedAccount"] img[src*="37f15a06d062bdd0fc252d2b35d0b0bb"] + div,
[class*="sc-"] img[src*="37f15a06d062bdd0fc252d2b35d0b0bb"] + div {
	--connection-color: rgba(63 143 247);
}

[class*="connectedAccount"] img[src*="94dc6f30a819026fa295d85f1f72b4ab"] + div,
[class*="sc-"] img[src*="94dc6f30a819026fa295d85f1f72b4ab"] + div {
	--connection-color: rgba(206 161 70);
}

[class*="connectedAccount"] img[src*="316ed923548387f8983e28a3804e6712"] + div,
[class*="sc-"] img[src*="316ed923548387f8983e28a3804e6712"] + div {
	--connection-color: rgba(0 120 215);
}

[class*="connectedAccount"] img[src*="d897626dfa2016ea3ad0af935acb6070"] + div,
[class*="connectedAccount"] img[src*="6a853b4c87fce386cbfef4a2efbacb09"] + div,
[class*="sc-"] img[src*="d897626dfa2016ea3ad0af935acb6070"] + div,
[class*="sc-"] img[src*="6a853b4c87fce386cbfef4a2efbacb09"] + div {
	--connection-color: rgba(255 255 255);
}

[class*="connectedAccount"] img[src*="eaeac24163b35f7526704a3d9b3c7722"] + div,
[class*="sc-"] img[src*="eaeac24163b35f7526704a3d9b3c7722"] + div {
	--connection-color: rgba(30 215 96);
}

[class*="connectedAccount"] img[src*="ca71e0b8818221eea1deebbaf8dc6518"] + div,
[class*="sc-"] img[src*="ca71e0b8818221eea1deebbaf8dc6518"] + div {
	--connection-color: rgba(145 70 255);
}

[class*="connectedAccount"] img[src*="57ee9535485efae7eb923ed4893abb57"] + div,
[class*="sc-"] img[src*="57ee9535485efae7eb923ed4893abb57"] + div {
	--connection-color: rgba(217 37 42);
}

[class*="connectedAccount"] img[src*="85cf2b49d2a185c98ec8e383ad5a05d6"] + div,
[class*="sc-"] img[src*="85cf2b49d2a185c98ec8e383ad5a05d6"] + div {
	--connection-color: rgba(29 161 242);
}

[class*="connectedAccount"] img[src*="f3224f560c8f5974355596a4f7e9ce19"] + div,
[class*="sc-"] img[src*="f3224f560c8f5974355596a4f7e9ce19"] + div {
	--connection-color: rgba(255 69 0);
}

/* Comfy Colors */
[class*="root-3QyAh1"] [class*="activityProfile"] {
	border-radius: 0 0 0 0;
	padding: 16px;
	margin: 0px;
	overflow: hidden;
	z-index: 1;
}

/* Header Recolor */
[class*="root-3QyAh1"] [class*="activityProfile"] .headerText-1HLrL7,
[class*="root-3QyAh1"] [class*="activityProfile"] .activityName-1IaRLn,
[class*="root-3QyAh1"] [class*="activityProfile"] .content-3JfFJh,
[class*="root-3QyAh1"] [class*="activityProfile"] .details-38sfDr,
[class*="root-3QyAh1"] [class*="activityProfile"] .name-29ETJS,
[class*="root-3QyAh1"] [class*="activityProfile"] .nameNormal-2lqVQK,
[class*="root-3QyAh1"] [class*="activityProfile"] .nameWrap-3Z4G_9 {
	color: var(--header-primary);
}

/* Button Color And Box Shadow */
[class*="root-3QyAh1"] [class*="activityProfile"] .button-38aScr {
	border-radius: var(--primary-rounding);
	border: none;
	background-color: #ffffff21;
	box-shadow: 0 4px 15px #00000021;
	color: #fff;
}

/* Basic Rich Presence */
[class*="root-3QyAh1"] [class*="activityProfile"] [class*="contentImagesProfile"]::after,
[class*="root-3QyAh1"] [class*="activityProfile"] [class*="contentGameImageProfile"]::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -2;
	left: 0;
	top: 0;
	border-radius: 0 0 0 0;
	background: var(--brand-experiment);
}

/* Spotify Color & Icon */
[class*="root-3QyAh1"] [class*="activityProfile"] [class*="timeBarProfile"]::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	left: 0;
	top: 0;
	border-radius: 0 0 0 0;
	background: var(--spotify-color);
}

[class*="root-3QyAh1"] [class*="activityProfile"] [class*="spotifyIcon"] {
	padding: 5px;
	background-color: var(--background-primary);
	border-radius: var(--primary-rounding);
}

/* Comfy Colors */
[class*="root-3QyAh1"] [class*="activityProfile"] {
	border-radius: 0 0 0 0 !important;
	padding: 16px;
	margin: 0px;
	overflow: hidden;
	z-index: 1;
}

/* Header Recolor */
[class*="root-3QyAh1"] [class*="activityProfile"] .headerText-1HLrL7,
[class*="root-3QyAh1"] [class*="activityProfile"] .activityName-1IaRLn,
[class*="root-3QyAh1"] [class*="activityProfile"] .content-3JfFJh,
[class*="root-3QyAh1"] [class*="activityProfile"] .details-38sfDr,
[class*="root-3QyAh1"] [class*="activityProfile"] .name-29ETJS,
[class*="root-3QyAh1"] [class*="activityProfile"] .nameNormal-2lqVQK,
[class*="root-3QyAh1"] [class*="activityProfile"] .nameWrap-3Z4G_9 {
	color: var(--header-primary);
}

/* Button Color And Box Shadow */
[class*="root-3QyAh1"] [class*="activityProfile"] .button-38aScr {
	border-radius: var(--primary-rounding);
	border: none;
	background-color: #ffffff21;
	box-shadow: 0 4px 15px #00000021;
	color: #fff;
}

/* Basic Rich Presence */
[class*="root-3QyAh1"] [class*="activityProfile"] [class*="contentImagesProfile"]::after,
[class*="root-3QyAh1"] [class*="activityProfile"] [class*="contentGameImageProfile"]::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -2;
	left: 0;
	top: 0;
	border-radius: 0 0 0 0 !important;
	background: var(--brand-experiment);
}

/* Spotify Color & Icon */
[class*="root-3QyAh1"] [class*="activityProfile"] [class*="timeBarProfile"]::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	left: 0;
	top: 0;
	border-radius: 0 0 0 0 !important;
	background: var(--spotify-color);
}

[class*="root-3QyAh1"] [class*="activityProfile"] [class*="spotifyIcon"] {
	padding: 5px;
	background-color: var(--background-primary);
	border-radius: var(--primary-rounding);
}
