/* KIA User Popout */
[class*="userPopout-"] {
	background-color: var(--background-floating);
	border-radius: var(--primary-rounding);
}

[class*="userPopout-"] [class*="headerNormal-3KXFBt"] {
	margin: var(--primary-spacing);
	margin-bottom: 0 !important;
}

[class*="userPopout-"] [class*="headerNormal-"] [class*="banner-"]  {
	filter: brightness(0.6);
	border-radius: var(--primary-rounding);
	height: 120px;
	width: 100%;
}

[class*="userPopout-"] [class*="headerNormal-"] [class*="bannerPremium-"] {
	filter: brightness(0.6);
}

[class*="userPopout-"] [class*="avatarWrapper-3r9PdD"] {
	left: var(--secondary-spacing);
	top: var(--secondary-spacing);
}

[class*="userPopout-"] [class*="avatarWrapper-"] [class*="avatar-"] {
	background-color: transparent;
	border-radius: var(--primary-rounding);
	height: 99px !important;
	width: 90px !important;
	border: none;
}

[class*="userPopout-"] [class*="avatarWrapper-"] [class*="avatar-"] [class*="mask-"] foreignObject [class*="avatar-"] {
	background-color: var(--background-primary);
	border-radius: var(--avatar-radius);
}



[class*="userPopout-"] [class*="headerTop-"] {
	padding: var(--secondary-spacing) 0 0 0;
	right: var(--primary-spacing);
	position: absolute;
	height: 180px;
	width: 171px;
}

[class*="userPopout-"] [class*="headerTop-"] [class*="headerText-"] {
	position: fixed !important;
	display: block !important;
	margin-left: -45px !important;
}

[class*="userPopout-"] [class*="headerTop-"] [class*="profileBadges-"] {
	right: var(--primary-spacing);
	top: unset;
	bottom: 0;
}

[class*="userPopout-"] [class*="body-3HBlXn"] {
	background-color: var(--background-floating);
	border: 1px solid var(--background-secondary-alt);
	border-radius: var(--primary-rounding);
	margin: var(--primary-spacing);
	max-height: 400px;
	padding: 10px;
}


[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] {
	background-color: var(--background-floating);
	border: 1px solid var(--background-secondary-alt);
	border-radius: var(--primary-rounding);
	padding: 6px;
}

[class*="userPopout-"] [class*="footer-"] {
	background-color: var(--background-secondary-alt);
	border-radius: var(--primary-rounding);
	margin: var(--primary-spacing);
	margin-top: 0 !important;
	padding: 16px;
}

/* USRBG - Mini Modal */
[class*="userPopout-"] [class*="popoutBanner-"]::before,
[class*="userPopout-"] [class*="profileBanner-"]::before {
	content: "";
	position: absolute;
	background: #000 var(--user-background) var(--user-popout-position, center)/cover no-repeat;
	background-attachment: var(--user-background, fixed);
	filter: brightness(0.6);
	border-radius: var(--primary-rounding);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

[class*="userPopout-"] [class*="banner-"][class*="popoutBannerPremium-"][class*="bannerPremium-"],
[class*="userPopout-"] [class*="banner-"][class*="popoutBanner-"] {
	width: 330px !important;
	height: 200px !important;
}

[class*="userPopout-"] [class*="avatarHint-"] {
	display: none !important;
}

[class*="userPopout-"] {
	width: 350px !important;
}

/* Custom Connections User Popout lmao */
[class*="sc-connectAccounts"] {
	background-color: transparent;
	border-radius: var(--primary-rounding);
	padding: 0 0 5px 0;
	display: flex;
	overflow-x: auto;
	margin-bottom: 2px;
}

[class*="sc-connection"] {
	display: flex;
	padding: 3px;
	border: 1px solid var(--background-secondary-alt);
	box-sizing: border-box;
	border-radius: var(--primary-rounding);
	position: relative;
}

[class*="sc-connection"]:before {
	display: flex;
	padding: 3px;
}

[class*="sc-connection"] a {
	display: flex;
	height: 30px;
	width: 30px;
}

[class*="sc-connection"] [class*="scrollbarGhostHairline"] {
	display: none;
}

/* Comfy Colors - Mini Modal */
[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"] {
	padding: 14px;
	margin: -3px -3px 10px -3px !important;
	z-index: 1;
}

[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"] [class*="headerText-"],
[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"] [class*="activityName-"],
[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"] [class*="content-"],
[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"] [class*="details-"],
[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"] [class*="name-"],
[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"] [class*="nameNormal-"],
[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"] [class*="nameWrap-"] {
	color: var(--header-primary);
}

[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"] [class*="button-"] {
	border: none;
	background-color: #ffffff36;
	color: #fff;
}

[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"]::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: var(--primary-rounding);
	z-index: -2;
	left: 0;
	top: 0;
	background: var(--brand-color);
}

[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"] [class*-"timeBarUserPopout"]::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: var(--primary-rounding);
	z-index: -1;
	left: 0;
	top: 0;
	background: var(--spotify-color);
}

[class*="userPopout-"] [class*="body-"] [class*="bodyInnerWrapper-"] [class*="activity-"] [class*="spotifyIcon"] {
	padding: 5px;
	margin-top: 10px;
	margin-right: 10px;
	background-color: var(--background-primary);
	border-radius: var(--primary-rounding);
}

/* Mini Modal - Begone Bullshit */
[class*="userPopout-"] [class*="setIdentityLink-"] {
	display: none;
}

[class*="userPopout-"] [class*="divider-"] {
	display: none;
}

/* BetterRoles */
[class*="role-"] {
	background: transparent;
	border: 1px solid var(--background-secondary-alt) !important;
	border-radius: var(--primary-rounding);
}

[class*="roleCircle-"] {
	margin-left: 0;
	border-radius: var(--primary-rounding);
}

[class*="addButton-"][class*="role-"] {
	border-color: var(--background-secondary-alt);
}

[class*="addButtonIcon-"] {
	width: 10px;
	height: 10px;
}
