:root .wrapper-3t9DeA foreignObject, :root .callAvatarMask-1SLlRi foreignObject,
:root .avatarContainer-3CQrif foreignObject, :root .avatarMasked-3y6o4j {
  mask: none;
  -webkit-mask: none;
}
:root .wrapper-25eVIn foreignObject {
  mask: none;
  -webkit-mask: none;
}
:root .wrapperSimple-19ogV2 {
  overflow: visible;
}
:root .wrapperSimple-19ogV2, :root .wrapper-25eVIn foreignObject,
:root .folderIconWrapper-226oVY, :root .folderIconWrapper-1_bOZe,
:root .expandedFolderBackground-2sPsd-,
:root .flexChild-faoVW3 .avatarUploaderInner-3UNxY3 {
  border-radius: var(--server-radius);
}
:root .iconInactive-98JN5i {
  border-radius: calc(var(--server-radius) - 4px);
}
:root .wrapper-25eVIn foreignObject {
  transition: border-radius 200ms;
}
:root .wrapper-25eVIn foreignObject:hover foreignObject {
  border-radius: calc(var(--server-radius) - 3px);
}
.closedFolderIconWrapper-2sTcE6 {
display: flex;
justify-content: center;
align-items: center; }
.closedFolderIconWrapper-2sTcE6 * {
display: none; }
.closedFolderIconWrapper-2sTcE6::after {
content: '';
width: 24px;
height: 24px;
position: relative;
display: block;
background: var(--brand-color);
-webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="false" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"/></svg>') center/contain no-repeat; }


/* Hide downloads icon */
[class*="guilds-"] [class*="scroller-"] > [class*="listItem-"]:nth-last-child(-1n + 3) {
	display: none !important;
}

:root {
  --home-icon-mobile: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='ArtBoard1' x='0' y='0' width='48' height='48' style='fill:none;'/%3E%3Cg id='ArtBoard11' serif:id='ArtBoard1'%3E%3Cpath id='home' d='M13.688,43.053l0,-8l-5.867,0c-2.109,0 -3.821,-1.712 -3.821,-3.821l0,-22.464c0,-2.109 1.712,-3.821 3.821,-3.821l32.358,-0c2.109,-0 3.821,1.712 3.821,3.821l-0,22.464c-0,2.109 -1.712,3.821 -3.821,3.821l-18.491,0l-8,8Z'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}

.homeIcon-FuNwkv {
  color: transparent;
  -webkit-mask: var(--home-icon);
  mask: var(--home-icon);
  background: var(--interactive-normal);
  width: 60%;
  height: 60%;
  margin-top: 2px;

}

/* Mentions Servers List */ 
[class*="unreadMentionsBar-1Bu1dC"] [class*="text-2e2ZyG"] {
	display: none;
}

[class*="unreadMentionsIndicatorTop-2-tcdU"] {
	width: 100%;
	height: 50px;
	top: -7px;
	padding: 0;
}

[class*="unreadMentionsIndicatorTop-2-tcdU"] [class*="unreadMentionsBar-1Bu1dC"] {
	border-radius: 0;
	background: linear-gradient(var(--mention-color), #0000);
	transition: 100ms;
}

[class*="unreadMentionsIndicatorTop-2-tcdU"] [class*="unreadMentionsBar-1Bu1dC"]:active {
	background: linear-gradient(var(--mention-color), #0000);
}

[class*="unreadMentionsIndicatorBottom-2mDYbI"] {
	width: 100%;
	height: 15px;
	padding: 0;
}

[class*="unreadMentionsIndicatorBottom-2mDYbI"] [class*="unreadMentionsBar-1Bu1dC"] {
	border-radius: 0;
	background: linear-gradient(#0000, var(--mention-color));
}

[class*="unreadMentionsIndicatorBottom-2mDYbI"] [class*="unreadMentionsBar-1Bu1dC"]:active {
	background: linear-gradient(#0000, var(--mention-color));
}

[class*="lowerBadge"] {
	top: 0;
	left: 0;
}

[class*="lowerBadge"] [class*="numberBadge"],
[class*="mentionsBadge"] {
	animation: var(--disable-animations), 2s server-mention infinite;
	background-color: var(--mention-color) !important;
	border-radius: 50%;
}

/* Unread/Active Indicator */
[class*="wrapper-3NnKdC"] [class*="item-2hkk8m"] {
	content: "";
    z-index: 1 !important;
	position: fixed; 
	top: -0px;
	left: 15px;
	width: 15px !important;
	height: 15px !important;
	margin-top: 10px; 
	background: var(--unread-color);
	border-radius: 50%;
	animation: var(--disable-animations), 2s server-unread infinite;
}

[class*="wrapper-sa6paO"],
[class*="item-2hkk8m"],
[class*="pill-1z4sAY"],
[class*="pill-3N7f9r"] {
	width: 33px;
	height: 58px;
	top: -10px;
	z-index: 1;
}



/* Keyframes */
@keyframes server-unread {
	0% {
		box-shadow: 0 0 0 0 var(--unread-color);
	}

	70% {
		box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes server-mention {
	0% {
		box-shadow: 0 0 0 0 var(--mention-color);
	}

	70% {
		box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
