  /* Settings Modal */
	.sidebarRegionScroller-3MXcoP {
      width: 230px !important;
      margin-right: -10px;
     }
	.contentColumn-2hrIYH {
	margin-top:  -40px;
	}
.toolsContainer-1edPuj{
	margin-top:  40px;
	margin-left: -25px;
	}
     .content-3YMskv[style="height: 2564px;"] {
        margin-top: 52px;
     }
 /* My Account */
 .accountProfileCard-1XCH88 {
   padding-top:  260px;
   border-radius: 8px;
 }
 .profile-1eT9hT {
   margin-left: 48%;
 }
 .detailsInner-1VPlWl {
   margin-left: 20px;
 }
 .badgeList-HtCfKd {
   justify-content: center;
   margin-left: 20px;
 }
 .username-1fQw19, [class="colorHeaderSecondary-3Sp3Ft size16-1P40sf"] {
   font-size: 15px;
   margin-left: 3px;
 }
/* USRBG Settings - Account Details */
[class*="settingsBanner"]{
	content: '';
	position: absolute;
	background: fixed center cover no-repeat;
	opacity: 1.0;
	top:  0px;
	height: 260px;
	background-image: var(--user-background, var(--settings-image));
}
.avatar-1uQSZT {
	margin-top:  160px;
	border: 0px;
}
/* USRBG Settings - Mini Modal */
[class*="avatarUploaderInner"] {
	margin-top:  130px;
	border: 0px;
}
[class*="fakeActivity"] {
	display: none;
}
[class*="bannerNormal"] {
	content: "";
	background: #000 var(--user-background, var(--settings-image)) var(--user-popout-position, center)/cover no-repeat;
	background-attachment: var(--user-background, var(--settings-image), fixed);
    height: 180px;
    margin-top: 0px;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
}
 .menu-319q29 {
   margin-top: -120px;
   margin-right: -0px;
   transform: scale(1.2);
 }
 .userProfileCustomizationSection-3nHZ-9 {
   margin-top: 230px
 }
 [class="fieldButton-27bJrp removeButton-3vophT button-38aScr lookLink-9FtZy- colorPrimary-3b3xI6 sizeSmall-2cSMqn grow-q77ONN"] {
   border-color: #f04747d0 !important;
   border: solid;
   border-width: 0.5px;
   background-color: #f0474738;
   transition: 0.25s;
 }
 [class="fieldButton-27bJrp removeButton-3vophT button-38aScr lookLink-9FtZy- colorPrimary-3b3xI6 sizeSmall-2cSMqn grow-q77ONN"]:hover {
   border-color: #f04747d0 !important;
   border: solid;
   border-width: 0.5px;
   background-color: #A43038;
   transition: 0.25s;
 }
 .divider-3573oO {
   height: 0px;
 }
 [class="userSettingsSecurity-3IYeMF marginTop40-i-78cZ"] {
   margin-top: -20px;
 }
 .menu-319q29 {
   color: #fff;
 }
 .fieldList-21DyL8::before {
   content: "General Info";
   text-transform: capitalize;
   font-weight: bold;
   font-size: 18px;
   color: #fff;
   margin-top: -28px;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   position: absolute;
 }
 .fieldList-21DyL8 {
    margin-top: 25px
 }
 .marginTop40-i-78cZ {
   margin-top: 15px;
}
 .sidebarRegion-VFTUkN {
   flex-grow: 0;
 }
 .contentColumnDefault-1VQkGM {
   max-width: calc(100% - 60px);
 }
.sidebarRegionScroller-3MXcoP {
  margin-bottom: 0px;
  -webkit-mask-image: linear-gradient(to bottom, black var(--sidebar-fade), transparent 100%);
}




/* PART 2 */
.hero-EvfTTA {
  height: 420px;
  background-image: url("https://i.imgur.com/NBvRLE7.gif") !important;
  max-width: 1720px;
  min-width: 400px;
  background-position-y: 27%;
  background-position-x: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
  text-align: left;
}
.marketingLogo-1D8DV6 {
  height: 80px;
  background: linear-gradient(var(--special-gradient));
  max-width: 1630px;
  min-width: 400px;
  background-position-y: 57%;
  background-position-x: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
}
.marketingLogoIcon-3bZq9h {
  margin-left: 600px;
}
.featuresHeader-4YwLcc, .marketingRefreshTier2Cta-bw9Vyc {
  display: none;
}
.marketingRefreshSectionTier1-dRwS-6 {
  margin-top: 0px;
}
[src="/assets/5a4ac7879fb43bc2509169b8fac68a4a.svg"] {
  transform: scale(1.5);
  margin-left: 120px;
  margin-top: 50px;
}
.heroIcon-3QgOM5, .hero-EvfTTA .heroHeader-IulZgg, .heroBody-2P4UF5, .heroButtons-2NvgKB {
  margin-left: -40%;
  top: 20%;
  margin-top: 10px;
  transform: scale(1.1);
  position: relative;
}
.typeWindows-1za-n7 {
  z-index: 9999999999999;
}
.contentRegionScroller-26nc1e .toolsContainer-1edPuj {
  margin-right: 5px;
  -webkit-app-region: drag;
  background-color: transparent;
  opacity: .5;
  border-radius: 12px;
  top: -55px;
  z-index: 99999999999;
}
.contentRegionScroller-26nc1e .toolsContainer-1edPuj::after {
display: none;
}
.theme-dark .closeButton-1tv5uR {
  border-color: var(--alt-color2);
  background-color: var(--alt-color2);
}
.contentRegion-3nDuYy .contentColumn-2hrIYH::before {
  background-color: var(--alt-color2);
  opacity: 0.2;
  content: "";
  height: 30px;
  right: 20%;
  align-content: center;
  border-radius: 12px 12px 12px 12px;
  min-width: 1200px;
  top: 10px;
  position: absolute;
  -webkit-app-region: drag;
}
.sidebarRegion-VFTUkN {
  margin-top: -40px;
}
