/* Font Imports */
@import url("https://itsjustjoshdev.github.io/Titlebar/src/Fonts/classic.css");
@import url("https://itsjustjoshdev.github.io/Titlebar/src/Fonts/rebrand.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root, * {

	--font-headline: var(--secondary-font) !important;
	--font-primary: var(--primary-font) !important;
	--font-display: var(--secondary-font) !important;
	--classic-font: "Discord Classic";
  	--rebrand-font: "Discord Rebrand";
	--poppins-font: "Poppins", sans-serif;

}

div #cc_server_count {
	text-align: center;
	font-family: var(--font-display);
}
