
/**
 * @name         KIA
 * @description  A Sleek Nord Based Discord Theme
 * @author       It'sJustJosh
 * @version      0.2
 * @source       https://therealgwjosh.github.io/BetterDiscordAddons/Themes/KIA/KIA.theme.css
 * @invite       qafdmryEye
 * @authorId     362628885361197056
 */

/* Main Import */
@import url("https://therealgwjosh.github.io/KIA/src/app/css/app/Imports/main.css");

/* KIA's BetterBG/USRBG Import */
@import url("https://therealgwjosh.github.io/KIA/src/app/css/app/BetterBG/main.css");

/* KIA's Color Import */
@import url("https://therealgwjosh.github.io/KIA/src/app/css/app/Colors/default.css");

/* Status - Pick One Radial or Normal */
@import url("https://therealgwjosh.github.io/KIA/src/app/css/app/Global/status.css");

/* Server Auto Hover */
@import url("https://therealgwjosh.github.io/KIA/src/app/css/app/Sidebar/Guilds/auto-hover.css");

/* Disabled - @import url("https://therealgwjosh.github.io/KIA/src/app/css/app/Global/radial-statuses.css"); */
/* Disabled - @import url("https://therealgwjosh.github.io/KIA/src/app/css/app/Sidebar/Guilds/right.css"); */

/* Global Vars */
:root {

	/* Active Now Tab Height */
	--active-now-height: 25vh;
	/* idk */
	--primary-rounding: 5px;
	--primary-spacing: 10px;
	--secondary-spacing: 20px;
	--secondary-rounding: 10px;
	/* Border Radius Extra Vars */
	--server-radius: 8px;
	--avatar-radius: 4px;
	--status-radius: 5px;
	--status-radius-alt: 40%;
	/* Home Icon */
	--home-icon: var(--home-icon-mobile);
	/* Unread/Mention Extras */
	--mention-color-background: #C662621F;
	--mention-color-hover: #C6626226;
	--mention-color: #d05151;
	--unread-color: var(--interactive-active);
	--disable-animations: var(--on);
	--unread-radius: 20%;
	/* Emoji Placeholder */
	--emoji: var(--emoji-ms); /* var(--emoji-normal) */
	/* Settings Banner Image */
	--settings-image: url("");
	/* Color Vars */
	--streaming-color: #643da7;
	--dnd-color: #f04747; 
	--idle-color: #a6a252;
	--spotify-color: var(--custom-spotify) !important; /* var(--rebrand-spotify) var(--classic-spotify) */
	--brand-color:  var(--custom-color) !important; /* var(--rebrand-color) var(--classic-color) */
	--custom-spotify: #3c7a47;
	--custom-color: #325d5f;
	/* Do Not Tamper With... */
	--version2_0: none;

}
