
/**
 * @name         KIA
 * @description  A Sleek Nord Based Discord Theme
 * @author       It'sJustJosh
 * @version      0.1
 * @source       https://therealgwjosh.github.io/BetterDiscordAddons/Themes/KIA/KIA.theme.css
 * @invite       qafdmryEye
 * @authorId     362628885361197056
 */

/* Main Import */
@import url("https://therealgwjosh.github.io/KIA/src/app/css/main.css");

/* KIA's BetterBG/USRBG Import */
@import url("https://therealgwjosh.github.io/KIA/src/app/css/BetterBG/main.css");

/* Global Vars */
:root {

	/* Active Now Tab Height */
	--active-now-height: 25vh;
	/* idk */
	--primary-rounding: 5px;
	--primary-spacing: 10px;
	--secondary-spacing: 20px;
	--secondary-rounding: 10px;
	/* Border Radius Extra Vars */
	--server-radius: 8px;
	--avatar-radius: 4px;
	--status-radius: 5px;
	--status-radius-alt: 40%;
	/* Home Icon */
	--home-icon: var(--home-icon-mobile);
	/* Unread/Mention Extras */
	--mention-color-background: #C662621F;
	--mention-color-hover: #C6626226;
	--mention-color: #d05151;
	--unread-color: var(--interactive-active);
	--disable-animations: var(--on);
	--unread-radius: 20%;
	/* Emoji Placeholder */
	--emoji: var(--emoji-ms); /* var(--emoji-normal) */
	/* Settings Banner Image */
	--settings-image: url("");
	/* Color Vars */
	--streaming-color: #643da7;
	--dnd-color: #f04747; 
	--idle-color: #a6a252;
	--spotify-color: var(--custom-spotify) !important; /* var(--rebrand-spotify) var(--classic-spotify) */
	--brand-color:  var(--custom-color) !important; /* var(--rebrand-color) var(--classic-color) */
	--custom-spotify: #3c7a47;
	--custom-color: #325d5f;
	/* Do Not Tamper With... */
	--version2_0: none;

}

:root.theme-dark {

    --background-primary: #292e3b;
    --background-secondary: #232731;
    --background-secondary-alt: #3b4252;
    --background-tertiary: #2e3340;
    --background-mobile-primary: #434c5e;
    --background-mobile-secondary: #4c556a;
    --channeltextarea-background: #363a48;
    --background-accent: #7289DA;
    --background-message-hover: transparent;
    --background-modifier-hover: #00000010;
    --background-modifier-active: #0000001a;
    --background-modifier-selected: #0000001f;
    --deprecated-card-bg: #2b2c3363;
    --background-floating: #2d3037;
    --deprecated-quickswitcher-input-background:#2e3340;
    --elevation-low: none;
    --activity-card-background: #2e3340;

}
