@import url(https://kewlsage.github.io/BorderShapes/addons/radial-statuses.css);
@import url("https://therealgwjosh.github.io/KIA/src/app/css/BetterBG/Friend-Grid/config.css");

:root {
  --rs-small-spacing: 0px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 0px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 0px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 3px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 4px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 5px; /* Thickness of status border for User profile | MUST end in px */
  
  --rs-online-color: var(--brand-color); /* Colour for online status */
  --rs-idle-color: var(--idle-color); /* Colour for idle status */
  --rs-dnd-color: var(--dnd-color); /* Colour for dnd status */
  --rs-offline-color: var(--offline-color); /* Colour for offline status */
  --rs-streaming-color: var(--streaming-color); /* Colour for streaming status */
  --rs-invisible-color: var(--invisible-color); /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */
  --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */

/* Don't touch below this, makes it work with bordershapes. */
  --rs-avatar-shape: var(--borders-avatars, var(--avatar-radius));
}

/* USRBG*/
.avatar-3W3CeO.wrapper-3t9DeA:before {
  content: '';
  position: absolute !important;
  top: -15px !important;
  left: -13px !important;
  width: 197.5px !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;

}
 
.peopleColumn-29fq28 .userInfo-2zN2z8::before {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
