@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.message-2qnXI6 {
  animation: slide-up 0.4s ease;
}
.reaction-1hd86g{
    width: 27px;
}
.reactionInner-15NvIl{
    width: 34px;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: 37px 0px;
}
.reaction-1hd86g .emoji{
    margin-right: -1px;
    transform: scale(0.96);
}
.reactionCount-2mvXRV {
    font-size: 11px;
    margin-top: -7px;
    margin-left: -29px;
    width: 0px;
    background-color: rgba(130, 164, 238, 0.219);
    z-index: 5;
    transition: 0.5s;
    border-radius: 1000px;
}
.reactionCount-2mvXRV[style="min-width: 9px;"]{
    margin-left: -24px;
}
.reactionCount-2mvXRV[style="min-width: 18px;"]{
    font-size: 11px;
}
.reactionCount-2mvXRV:is([style="min-width: 27px;"], [style="min-width: 36px;"]){
    margin-left: -35px;
}
.reactionMe-wv5HKu .reactionCount-2mvXRV{
    background-color: var(--brand-experiment-45a);
}
.reactionCount-2mvXRV[style="position: relative; overflow: hidden;"]{
    width: 30px;
}

:root .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp[aria-expanded=false] + .nameTag-3uD-yy {
	padding: 5px;
	z-index: unset !important;
	border-radius: var(--primary-rounding);
	background: var(--background-tertiary);
}
:root .panels-j1Uci_ > .container-3baos1 {
	position: fixed;
	background: transparent;
	height: 0px;
	max-width: 160px;
	top: 24px;
	right: -7px;
}

[class*="container-1r6BKw"] {
	padding-right: 165px;
}

#private-channels [href="/discovery"] {display: none}
#private-channels [href="/store"] {display: none}

.search-36MZv- {
	order: 1;
	margin-left: 4px;
}
.search-36MZv- .search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb {
	width: 27px;
	transition: 250ms;
	background-color: transparent;
}
.search-36MZv- .search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb .iconContainer-O4O2CN {
	transform: scale(1.3);
	transition: 250ms;
}
.search-36MZv- .search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb .iconContainer-O4O2CN .icon-3cZ1F_ {
	color: var(--interactive-normal);
}
.search-36MZv- .search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb {
	width: 240px;
	background-color: var(--background-tertiary);
}
.search-36MZv- .search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb .iconContainer-O4O2CN {
	transform: scale(1);
}
.search-36MZv- .search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb .iconContainer-O4O2CN .icon-3cZ1F_ {
	color: var(--text-muted);
}
.search-36MZv- .searchAnswer-3Dz2-q,
.search-36MZv- .searchFilter-2ESiM3 {
	background-color: var(--background-primary);
}

/* Hides Textbox when you don't have permission to talk in the channel */
.channelTextAreaDisabled-8rmlrp > div {
    display: none
  }

/* Captilize Channel Names & Headers */
.headerIcon-1qrXTN+.headerLabel-3dG4M-,
.children-19S4PO >h3,
.item-PXvHYJ,
.name-23GUGE {
	text-transform: capitalize;
}
