/* Threads */
:root {
    --sidebar-width: 100px !important; /* change if your theme resizes the sidebar */
	--sidebar-initial-width: 240px !important;
}
.chat-3bRxxu.threadSidebarOpen-vdkwIh {
	border-radius: 0px;
    resize: horizontal;
    min-width: 400px;
    max-width: calc(100vw - var(--sidebar-width) - 72px - 400px);
}
.chat-3bRxxu:not(.threadSidebarOpen-vdkwIh) {
    width: unset !important;
    flex: 1 1 auto;
}
.threadSidebar-1o3BTy {
	border-radius: 0px;
    width: unset;
    flex: 1 1 auto;
}
/* Channels/DM's */
.sidebar-2K8pFh {
/*    resize: horizontal;  */
    width: var(--sidebar-initial-width);
}
.sidebar-2K8pFh .channel-2QD9_O { max-width: unset; }
.bannerImage-3KhIJ6 { width: 100%; }
/* DM TABS By Freeplay - Modified By It'sJustJosh */
#private-channels a[href="/store"] {
    display: none; 
}
#private-channels > [class*="content-"] {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) {
    flex-grow: 1;
    margin-top: 8px !important; 
    margin-left: 0;
	margin-right: 8px !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]):hover {
	background-color: var(--brand-color);
	transition: 250ms ease all !important;
}
.selected-aXhQR6 {
	background-color: var(--brand-color);
	transition: 250ms ease all !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]):first-of-type {
    margin-left: 8px !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="layout-"] {
    justify-content: center;
    padding: 0 !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="avatar-"] {
    margin: 0 !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="content-"] {
    display: none;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="children-"] {
    position: absolute;
    transform: translate(4px, 8px);
    border-radius: 100px;
}
#private-channels > [class*="content-"] > h2 {
    width: 100%;
}
#private-channels > [class*="content-"] > a[href*="/channels/@me/"] {
    width: 100%;
}

/* Unreads Channel List */
[class*="unread-2lAfLh"] {
	content: "";
	position: absolute;
	display: block !important;
	top: 18px;
	left: 7px;
	z-index: 1 !important;
	width: 5px !important;
	height: 5px !important;
	background: var(--unread-color);
	border-radius: 50%;
	animation: var(--disable-animations), 2s server-unread infinite;
}

:root [class*="unreadTop-3rAB3r"] {
	top: -0px;
	z-index: 2;
	width: 100%;
	padding: 0;
}

:root [class*="unreadTop-3rAB3r"] [class*="unreadBar-3t3sYc mention-1f5kbO"] {
	border-radius: 0;
	background: linear-gradient(var(--mention-color), #0000);
}

:root [class*="unreadTop-3rAB3r"] [class*="unreadBar-3t3sYc unread-1xRYoj"] {
	border-radius: 0;
	background: linear-gradient(var(--unread-color), #0000);
}

:root [class*="unreadBottom-1_LF_w"] {
	width: 100%;
	height: 15px;
	padding: 0;
}

:root [class*="unreadBottom-1_LF_w"] [class*="unreadBar-3t3sYc mention-1f5kbO"] {
	border-radius: 0;
	background: linear-gradient(#0000, var(--mention-color));
}

:root [class*="unreadBottom-1_LF_w"] [class*="unreadBar-3t3sYc unread-1xRYoj"] {
	border-radius: 0;
	background: linear-gradient(#0000, var(--unread-color));
}

:root [class*="unreadBar-3t3sYc"] > [class*="text-2e2ZyG"] {
	display: none;
}

:root [class*="mentionsBadge-3tC7Mi"] [class*="numberBadge-2s8kKX"] {
	animation: var(--disable-animations), 2s channel-mention infinite;
}

:root [class*="unread-2lAfLh"] {
	top: 54%;
	left: 5px;
	width: 6px;
	height: 6px;
	z-index: 1;
	background-color: var(--unread-color);
	border-radius: 10px;
	animation: var(--disable-animations), 2s channel-unread infinite;
}
@keyframes channel-mention {
	0% {
		box-shadow: 0 0 0 0 var(--mention-color);
	}

	70% {
		box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes channel-unread {
	0% {
		box-shadow: 0 0 0 0 var(--unread-color);
	}

	70% {
		box-shadow: 0 0 0 4px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
