/* Threads */
:root {
    --sidebar-width: 100px !important; /* change if your theme resizes the sidebar */
	--sidebar-initial-width: 240px !important;
}
.chat-3bRxxu.threadSidebarOpen-vdkwIh {
	border-radius: 0px;
    resize: horizontal;
    min-width: 400px;
    max-width: calc(100vw - var(--sidebar-width) - 72px - 400px);
}
.chat-3bRxxu:not(.threadSidebarOpen-vdkwIh) {
    width: unset !important;
    flex: 1 1 auto;
}
.threadSidebar-1o3BTy {
	border-radius: 0px;
    width: unset;
    flex: 1 1 auto;
}
/* Channels/DM's */
.sidebar-2K8pFh {
    resize: horizontal;
    width: var(--sidebar-initial-width);
}
.sidebar-2K8pFh .channel-2QD9_O { max-width: unset; }
.bannerImage-3KhIJ6 { width: 100%; }
/* DM TABS By Freeplay - Modified By It'sJustJosh */
#private-channels a[href="/store"] {
    display: none; 
}
#private-channels > [class*="content-"] {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) {
    flex-grow: 1;
    margin-top: 8px !important; 
    margin-left: 0;
	margin-right: 8px !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]):hover {
	background-color: var(--brand-color);
	transition: 250ms ease all !important;
}
.selected-aXhQR6 {
	background-color: var(--brand-color);
	transition: 250ms ease all !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]):first-of-type {
    margin-left: 8px !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="layout-"] {
    justify-content: center;
    padding: 0 !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="avatar-"] {
    margin: 0 !important;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="content-"] {
    display: none;
}
#private-channels > [class*="content-"] > a:not([href*="/channels/@me/"]) [class*="children-"] {
    position: absolute;
    transform: translate(4px, 8px);
    border-radius: 100px;
}
#private-channels > [class*="content-"] > h2 {
    width: 100%;
}
#private-channels > [class*="content-"] > a[href*="/channels/@me/"] {
    width: 100%;
}
