/* Imports */
@import url("https://therealgwjosh.github.io/Snippets/CSS/Settings/icons.css"); /* Settings - 001 */
@import url("https://therealgwjosh.github.io/BannerBG/src/banners.css"); /* BannerBG - 003 */
@import url('https://discord-theme-addons.github.io/modern-channel-indicators/src/support/compiled.css'); /* Channel List - 008 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); /* Font - 011 */
@font-face {font-family: 'Discord'; src: url("https://project-browser.github.io/Wordmark-Plus/assets/fonts/Discord-Sans.otf") format("opentype");}

/* Extra Imports */
@import url("https://crearts-community.github.io/Context-Icons/context-icons.theme.css");
@import url("https://luckfire.github.io/theme-source/src/css-compile/ThemeSource-Compiled.css");
@import url("https://raw.githack.com/v-briese/Channel-Icons/main/channelicons.theme.css");
@import url("https://raw.githack.com/LuckFire/theme-source/main/old-theme-source.css");
@import url("https://raw.githack.com/leeprky/FullyThemedDiscord/main/source.css");
@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://therealgwjosh.github.io/BannerBG/src/main.css");
@import url("https://therealgwjosh.github.io/Snippets/CSS/Extra/spooky.css");
@import url("https://therealgwjosh.github.io/KIA/src/app/css/app/Global/betterbadges.css");
@import url("https://therealgwjosh.github.io/Snippets/CSS/BetterBG/Friend-Grid/main.css");
@import url("https://therealgwjosh.github.io/Snippets/CSS/Extra/colorful-urls.css"); 

/* KIA - Now Playing - 009 */
.nowPlayingColumn-2sl4cE {
	background: transparent !important;
	margin: 0px;
	margin-left: 10px;
}

.nowPlayingColumn-2sl4cE .scroller-2ZPeAD {
	padding: 0px;
	border: none;
}


.wrapper-3D2qGf {
	border-radius: var(--primary-rounding);
	background: transparent !important;
	position: relative;
}

.container-lRFx4q {
	background: transparent !important;
}

.wrapper-3D2qGf:hover {
	background: none !important;
}


.wrapper-3D2qGf:before {
	background: var(--background-secondary);
	border-radius: var(--primary-rounding);
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}


.wrapper-3D2qGf:hover:before {
	background: var(--accent-primary) !important;
}


.nowPlayingColumn-2sl4cE .header-2SF4Nh {
	display: none;
}


.emptyCard-1RJw8n {
	border-radius: var(--primary-rounding);
	padding: 24px;
	margin-right: 10px;
}

.section-2gLsgF {
	background: var(--background-tertiary);
	border-radius: var(--secondary-rounding);
	position: relative;
	padding: 12px;
}

.theme-dark .inset-3sAvek {
	background-color: transparent !important;
}


.activitySectionAssets-32WyHu .largeImage-DLXk-f {
	border-radius: 90px;
	width: 32px;
	height: 32px;
}

.theme-dark .separator-XqIyoz {
	background-color: transparent !important;
	padding-top: 8px;
}


.emptyCard-1RJw8n {
	border-radius: var(--primary-rounding);
	background: transparent !important;
	position: relative;
}

.emptyCard-1RJw8n:before {
	background: var(--background-secondary);
	border-radius: var(--primary-rounding);
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	z-index: -1;
}

/* Made By Luckfire - Channel Indacitors - 008 */
:root {
	/* ---- base -- */
	--indicator-rounding: var(--primary-rounding); /* change center values to only round the right */
	--indicator-border-info: 0px solid;
	--indicator-hovered: rgba(79, 84, 92, 0.25);
	--indicator-hovered-text: var(--interactive-hover);

	/* ---- selected -- */
	--indicator-selected: var(--accent-pri-numbers);
	--indicator-selected-border: rgba(var(--indicator-selected));
	--indicator-selected-background: rgba(var(--indicator-selected), 0.21);
	--indicator-selected-hover: rgba(var(--indicator-selected), 0.38);
	--indicator-selected-icons: rgba(var(--indicator-selected));
	--indicator-selected-text: white;

	/* ---- unreads  -- */
	--indicator-unread: 255, 255, 255;
	--indicator-unread-border: rgba(var(--indicator-unread), 0.6);
	--indicator-unread-background: rgba(var(--indicator-unread), 0.01);
	--indicator-unread-icons: var(--indicator-unread-border);
	--indicator-unread-text: white;

	/* ---- connected -- */
	--indicator-connected: var(--accent-sec-numbers);
	--indicator-connected-border: rgba(var(--indicator-connected));
	--indicator-connected-background: rgba(var(--indicator-connected), 0.1);
	--indicator-connected-hover: rgba(var(--indicator-connected), 0.18);
	--indicator-connected-icons: var(--indicator-connected-border);
	--indicator-connected-text: white;
}

/* KIA - Member List/Channel Banners - 007 */
.container-1CU5bi {
	margin-left: var(--primary-spacing);
	border-radius: var(--primary-rounding);
	background-color: var(--background-secondary-alt);
}

.container-2wlB3z {
	scale: 1;
	margin-top: -0px;
	margin-bottom: -0px;
	margin-left: -6px;
}

.theme-dark .container-2wlB3z:before {
	position: fixed !important;
	background-color: var(--red-secondary) !important;
	right: 0 !important;
	bottom: -65px !important;
	height: 60px !important;
	width: 230px !important;
	border-radius: var(--primary-rounding) !important;
	content: "" !important;
}

.theme-dark .container-2wlB3z:after {
	position: fixed !important;
	color: var(--interactive-normal) !important;
	right: -10px !important;
	bottom: -72px !important;
	height: 60px !important;
	width: 230px !important;
	font-size: 15px;
	content: " Channel Banners Missing? Well Wait For The Release or Enable in Developer Options " !important;
}




.members-2upGyL {
	height: 100%;
}
.toolbar-1t6TWx > .iconWrapper-2OrFZ1.selected-1GqIat:nth-of-type(4) ~ :last-child {
	margin-right: 56px;
}
.container-2PDP7D > .tabs-3L9Rgq {
	height: 0;
	padding: 0;
	border: none;
}
.container-2PDP7D > .tabs-3L9Rgq > .tab-XC_yrg {
	font-size: 0;
	position: absolute;
	right: 6px;
	bottom: 18px;
	width: 40px;
	height: 24px;
	margin: 0 8px;
	padding: 0;
	z-index: 2;
	border-radius: 12px;
	background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%) !important;
}
.container-2PDP7D > .tabs-3L9Rgq > .tab-XC_yrg::after {
	position: absolute;
	top: 3px;
	width: 18px;
	height: 18px;
	background-color: white;
	border-radius: 50%;
}
.container-2PDP7D > .tabs-3L9Rgq > .tab-XC_yrg:last-of-type::after {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='rgb(114, 118, 125)'><path d='M11.8 6.6C11.8 8.154 10.54 9.4 9 9.4C7.46 9.4 6.2 8.154 6.2 6.6C6.2 5.06 7.46 3.8 9 3.8C10.54 3.8 11.8 5.06 11.8 6.6ZM3.4 14.3C3.4 11.836 5.71 10.1 9 10.1C12.304 10.1 14.6 11.836 14.6 14.3V15H3.4V14.3Z'/></svg>");
	left: 3px;
}
.container-2PDP7D > .tabs-3L9Rgq > .tab-XC_yrg:first-of-type::after {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18px' height='18px' fill='rgb(114, 118, 125)'><path d='M9-1zm0 4.752a1.25 1.25 90 110 2.5a1.25 1.25 90 010-2.5zM12 14h-6v-2h2V9H7V7h2a1 1 90 011 1v4h2v2z'/></svg>");
	right: 3px;
}
.container-2PDP7D > .tabs-3L9Rgq > .tab-XC_yrg.active-2SVYP5 {
	pointer-events: none;
	opacity: 0;
}

/* KIA - Server List - 006 */
.unreadMentionsIndicatorTop-2-tcdU .text-2e2ZyG {
	color: transparent;
	background: var(--interactive-active);
	-webkit-mask: url("https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_up.svg") center no-repeat;
	mask: url("https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_up.svg") center no-repeat;
	width: 36%;
	height: 36%;
	margin-bottom: -2px;
}

.unreadMentionsIndicatorTop-2-tcdU {
	top: 125px;
}

.unreadMentionsIndicatorBottom-2mDYbI .text-2e2ZyG {
	color: transparent;
	background: var(--interactive-active);
	-webkit-mask: url("https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_down.svg") center no-repeat;
	mask: url("https://corellanstoma.github.io/CreArts-Discord/assets/icons/theme_arrow_down.svg") center no-repeat;
	width: 36%;
	height: 36%;
	margin-bottom: -2px;
}

.unreadMentionsIndicatorBottom-2mDYbI {
	bottom: 180px;
}

.scroller-1Bvpku {
	background: transparent !important;
	position: relative;
	bottom: -5px;
	height: 310px;
}

.guildSeparator-33mFX6 {
	display: none !important;
}

.panels-j1Uci_ > .container-3baos1 {
	height: 0;
}
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 {
	position: fixed;
	top: 20px;
	left: 18px;
	z-index: 1;
	width: 55px;
	height: 94px;
	padding: 10px 0 10px 0;
	padding-bottom: 15px;
	flex-direction: column;
	border-radius: var(--server-radius);
	background: var(--background-secondary-alt);
}
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ {
	color: var(--interactive-normal);
	margin: auto 20px auto 10px;
}

div#cc_server_count {
	display: none !important;
}


:root .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp[aria-expanded="false"],
:root .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp[aria-expanded="true"] {
	position: fixed !important;
	bottom: 22.5px;
	left: 21.5px;
	z-index: 123456787654323452 !important;
	margin: 0;
	background-color: var(--background-secondary-alt);
	padding: 4px;
	border-radius: var(--server-radius);
}
:root .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp[aria-expanded="false"] > .avatar-SmRMf2,
:root .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp[aria-expanded="true"] > .avatar-SmRMf2 {
	width: 40px !important;
	height: 40px !important;
}
:root .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp[aria-expanded="false"] > .avatar-SmRMf2:hover,
:root .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp[aria-expanded="true"] > .avatar-SmRMf2:hover {
	opacity: 1;
}
:root .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp[aria-expanded="false"] + .nameTag-3uD-yy,
:root .panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp[aria-expanded="true"] + .nameTag-3uD-yy {
	display: none;
}

/* Home Button */
.guilds-1SWlCJ .scroller-1Bvpku { contain: none !important; padding-top: 0 !important;
}
.guilds-1SWlCJ .scroller-1Bvpku > [aria-label],
.guilds-1SWlCJ .scroller-1Bvpku > [style]:nth-child(2) { margin-top: -55px !important;
}

.tutorialContainer-11ICd5,
.tutorialContainer-2sGCg9 {
	position: fixed;
	margin-top: 331px !important;
	z-index: 12;
	box-shadow: none !important;
	background: transparent;
}
.guilds-1SWlCJ .scroller-1Bvpku { contain: none !important; padding-top: 0;
}
.guilds-1SWlCJ .scroller-1Bvpku > [aria-label],
.guilds-1SWlCJ .scroller-1Bvpku > [style]:nth-child(2) { margin-top: 55px;
}
.guilds-1SWlCJ .scroller-1Bvpku > [style] ~ [aria-label] { margin-top: 0 !important;
}

.wrapper-3NnKdC > ul > .scroller-1Bvpku > div[aria-label="Servers"] {
	margin-top: 60px;
	margin-bottom: 140px;
}
.wrapper-3NnKdC > ul > .scroller-1Bvpku:not(div[aria-label="Servers"]) {
	margin-top: 136px;
	margin-bottom: 192px;
	background-color: var(--background-secondary-alt);
}

.tutorialContainer-11ICd5,
.tutorialContainer-2sGCg9 {
	box-shadow: none !important;
}

.container-3w7J-x {
	z-index: 1;
}

/* Discover/Downloads */
.platform-linux [class*="guilds-"] [class*="scroller-"] > [class*="listItem-"]:nth-last-child(-1n + 3) {
	position: fixed;
	bottom: 70px;
	z-index: 1;
	box-shadow: none !important;
}

.platform-win [class*="guilds-"] [class*="scroller-"] > [class*="listItem-"]:nth-last-child(-1n + 3) {
	position: fixed;
	bottom: 70px;
	z-index: 1;
	box-shadow: none !important;
}

.platform-osx [class*="guilds-"] [class*="scroller-"] > [class*="listItem-"]:nth-last-child(-1n + 3) {
	position: fixed;
	bottom: 70px;
	z-index: 1;
	box-shadow: none !important;
}

/* Discovery */
.platform-web [class*="guilds-"] [class*="scroller-"] > [class*="listItem-"]:nth-last-child(1n + 3) {
	position: fixed;
	bottom: 70px;
	z-index: 1;
	box-shadow: none !important;
}

/* Downloads */
.platform-web [class*="scroller-"] > [class*="listItem-"]:nth-last-child(1n + 2):not(:nth-last-child(1n + 3)) {
	display: none;
}

/* Fuck No */
[class*="guildSeparator"] {
	display: none;
}

/* Custom Background For Add a Server And The Top Buttons */
[class*="tutorialContainer"]:not(.tutorialContainer-11ICd5):not(.tutorialContainer-2sGCg9) {
	background: transparent;
	margin-top: -130px;
}

/* Recolor */
[class*="guilds-"] [class*="scroller-"] > [class*="listItem-"],
[class*="tutorialContainer"]:not(.tutorialContainer-11ICd5) {
	color: var(--interactive-normal);
}

[class*="guilds-"] [class*="scroller-"] > [class*="listItem-"] svg path,
[class*="tutorialContainer"]:not(.tutorialContainer-11ICd5) svg path {
	fill: var(--interactive-active);
}

/* KIA - Media Auto Adjust - 005 */
@media screen and (min-width: 0px) and (max-width: 1200px) {
  .membersWrap-2h-GB4 {
    display: none;
  }

  .selected-1GqIat {
    display: none;
  }

  .toolbar-1t6TWx .clickable-3rdHwn:nth-last-child(4) {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 1100px) {
  .toolbar-1t6TWx {
    display: none;
  }

  .children-19S4PO {
    margin-right: 10px;
  }
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .sidebar-2K8pFh {
    width: 0px !important;
  }

  .sidebar-2K8pFh {
    padding: 0px !important;
  }

  .chat-3bRxxu {
    margin-left: 10px;
  }
}
@media screen and (min-width: 0px) and (max-width: 900px) {
  .sidebar-2K8pFh {
    display: none;
  }

  .wrapper-3NnKdC {
    display: none;
  }

  .container-1D34oG {
    margin-left: 20px !important;
  }
}

/* KIA - Status Picker - 004 */
#status-picker {
	box-shadow: none !important;
	width: 260px !important;
	margin-bottom: 12px;
	margin-left: 25px;
}

#status-picker .mask-1qbNWk {
	height: 14px;
	width: 14px;
	margin-left: 4px;
}

#status-picker-dnd .status-1AY8sU {
	background: var(--red-primary) !important;
}

#status-picker-online .status-1AY8sU {
	background: var(--green-primary) !important;
}

#status-picker-invisible .status-1AY8sU {
	background: var(--normal-primary) !important;
}

#status-picker-idle .status-1AY8sU {
	background: var(--yellow-primary) !important;
}

#status-picker .focused-3afm-j {
	background: linear-gradient(45deg, var(--accent-tertiary), var(--accent-secondary));
	border-radius: var(--primary-rounding) !important;
}

#status-picker .focused-3afm-j#status-picker-online {
	background: linear-gradient(45deg, var(--green-tertiary), var(--green-secondary));
}

#status-picker .focused-3afm-j#status-picker-idle {
	background: linear-gradient(45deg, var(--yellow-tertiary), var(--yellow-secondary));
}

#status-picker .focused-3afm-j#status-picker-dnd {
	background: linear-gradient(45deg, var(--red-tertiary), var(--red-secondary));
}

#status-picker .focused-3afm-j#status-picker-invisible {
	background: linear-gradient(45deg, var(--normal-tertiary), var(--normal-secondary));
}

/* Get Rid Of The Trash & Beta Tag */
#status-picker .item-1tOPte:not(#status-picker-custom-status):not(#status-picker-switch-account) .status-1fhblQ,
#status-picker .description-2L932D,
#status-picker .separator-2I32lJ {
	display: none;
}

#status-picker .betaTag-2ehOEB {
	position: absolute;
	font-size: 0;
	background-color: var(--brand-color) !important;
	margin-left: 172px;
	border-radius: var(--primary-rounding);
}

#status-picker .status-1fhblQ {
	margin-left: 8px;
}

/* Border Go BRRRRRRRRRRRR */
#status-picker-custom-status::after,
#status-picker-switch-account::after {
	content: "";
	border-top: 1px solid var(--background-modifier-accent);
	background: var(--background-modifier-accent);
	position: absolute;
	top: -6px;
	left: 2px;
	width: 98%;
	height: 1px;
}

#status-picker-dnd::after,
#status-picker-idle::after,
#status-picker-online::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 46px;
	width: 1px;
	height: 24px;
	background: var(--background-modifier-accent);
	border-left: 1px solid var(--background-modifier-accent);
}

/* Gridish Lamo */
#status-picker .scrollerBase-289Jih {
	display: grid;
}

#status-picker-custom-status,
#status-picker div[role=group] {
	grid-column: 1/5;
}

#status-picker-dnd,
#status-picker-idle,
#status-picker-online,
#status-picker-invisible {
	padding: 0;
	margin: 0;
	left: 10px;
	width: 40px;
	height: 30px;
}

/* Custom Icons */
#status-picker .customEmojiPlaceholder-37iZ_j,
#status-picker .switchAccountsIcon-355frb {
	margin-left: 0px;
}

#status-picker .customEmojiPlaceholder-37iZ_j {
	background-image: none;
	background-color: var(--interactive-normal);
	mask: var(--icon) center/contain no-repeat;
	-webkit-mask: var(--icon) center/contain no-repeat;
	width: 22px;
	height: 22px;
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M11.99,2C6.47,2,2,6.48,2,12s4.47,10,9.99,10C17.52,22,22,17.52,22,12S17.52,2,11.99,2z M8.5,8C9.33,8,10,8.67,10,9.5 S9.33,11,8.5,11S7,10.33,7,9.5S7.67,8,8.5,8z M16.75,14.75C15.8,16.39,14.03,17.5,12,17.5s-3.8-1.11-4.75-2.75 C7.06,14.42,7.31,14,7.69,14h8.62C16.7,14,16.94,14.42,16.75,14.75z M15.5,11c-0.83,0-1.5-0.67-1.5-1.5S14.67,8,15.5,8 S17,8.67,17,9.5S16.33,11,15.5,11z'/%3E%3C/svg%3E");
}

#status-picker .switchAccountsIcon-355frb {
	background-image: none;
	background-color: var(--interactive-normal);
	mask: var(--icon) center/contain no-repeat;
	-webkit-mask: var(--icon) center/contain no-repeat;
	width: 22px;
	height: 22px;
	--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M17,20H4V7c0-0.55-0.45-1-1-1S2,6.45,2,7v13c0,1.1,0.9,2,2,2h13c0.55,0,1-0.45,1-1S17.55,20,17,20z M20,2H8 C6.9,2,6,2.9,6,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4C22,2.9,21.1,2,20,2z M14,5c1.66,0,3,1.34,3,3c0,1.66-1.34,3-3,3 s-3-1.34-3-3C11,6.34,12.34,5,14,5z M7.76,16c1.47-1.83,3.71-3,6.24-3s4.77,1.17,6.24,3H7.76z'/%3E%3C/g%3E%3C/svg%3E");
}

#status-picker .colorDefault-2K3EoJ.focused-3afm-j .customEmojiPlaceholder-37iZ_j,
#status-picker .colorDefault-2K3EoJ.focused-3afm-j .switchAccountsIcon-355frb {
	background: var(--interactive-active);
}

#status-picker-custom-status,
#status-picker-switch-account {
	margin-top: 8px;
	margin-right: 5px !important;
}

#status-picker .item-1tOPte {
	margin-right: -8px;
}

/* Resize The Status Picker */
:root #status-picker {
	position: fixed;
	bottom: 8px;
	left: 77px;
	width: 230px;
	height: 245px;
	border-radius: var(--primary-rounding);
	background: var(--background-tertiary);
}

:root #status-picker > .scroller-3BxosC {
	grid-template-rows: 35px 46px;
	margin: auto 4px 4px -2px;
}

:root .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp[aria-expanded="false"] {
	z-index: 1 !important;
}

/* Add BetterBG/USRBG Support */
:root .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp[aria-expanded="true"] .wrapper-3t9DeA::before {
	content: '' !important;
	position: absolute;
	top: -199px;
	left: 76px;
	width: 260px;
	height: 140px;
	pointer-events: none;
	background: var(--user-background);
	background-color: var(--background-secondary-alt);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: var(--primary-rounding);
	-webkit-mask: linear-gradient(black, transparent 100%);
	opacity: 0.8;
	z-index: 1005 !important;
}

:root .panels-j1Uci_ {
	z-index: unset;
}

/* KIA - BannerBG - 003 */
.container-3w7J-x .header-2V-4Sw::before {
	position: var(--BannerBG-Server-Position);
	content: "";
	top: var(--BannerBG-Server-Top);
	left: var(--BannerBG-Server-Left);
	height: var(--BannerBG-Server-Height);
	width: var(--BannerBG-Server-Width);
	background-image: var(--BannerBG-Server-Banner);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: var(--primary-rounding) !important;
}

.container-3w7J-x .header-2V-4Sw:hover::before {
	-webkit-mask: linear-gradient(transparent, var(--background-primary) 200%);
}

.container-3w7J-x .header-2V-4Sw::before {
	-webkit-mask: none;
}


/* Spacing */
.container-3w7J-x .header-2V-4Sw {
	height: var(--BBG-CreArts-Header-Height) !important;
	padding-bottom: var(--BBG-CreArts-Header-Padding) !important;
}


/* Info Hide */
.container-3w7J-x .name-1jkAdW,
.container-3w7J-x .button-1w5pas {
	z-index: var(--BBG-CreArts-Header-Z-Index) !important;
	opacity: var(--BBG-CreArts-Header-Opacity-0) !important;
	transition: var(--BBG-CreArts-Header-Transition) !important;
}

.container-3w7J-x .header-2V-4Sw:hover .name-1jkAdW,
.container-3w7J-x .header-2V-4Sw:hover .button-1w5pas {
	z-index: var(--BBG-CreArts-Header-Z-Index) !important;
	opacity: var(--BBG-CreArts-Header-Opacity-1) !important;
	transition: var(--BBG-CreArts-Header-Transition) !important;
}

.container-3w7J-x .header-2V-4Sw:hover .name-1jkAdW {
	color: var(--BBG-CreArts-Header-Color) !important;
}

/* KIA - Better Splash - 002 */
.platform-web .container-16j22k {
	background-color: var(--content-color);
	backdrop-filter: blur(var(--blur));
	border-radius: var(--border-radius);
}
.platform-web .content-1-zrf2 {
	width: var(--splash-width);
	padding-top: var(--padding-horizontal);
	padding-bottom: var(--padding-horizontal);
	padding-left: var(--padding-vertical);
	padding-right: var(--padding-vertical);
	background-color: var(--background-color);
	border: var(--border-size) solid var(--border-color);
	border-radius: var(--border-radius);
	box-shadow: 0px 0px var(--blur) var(--box-shadow-color);
}

.platform-web .content-1-zrf2:after {
	position: fixed;
	top: -140px;
	left: 0;
	bottom: 0;
	right: 0;
	content: "";
	background: var(--brand-logo) center/10% no-repeat !important;
}


.platform-web .container-16j22k video {
	-webkit-mask: linear-gradient(transparent, transparent);
}

:root #splash {
	background-color: var(--content-color);
	backdrop-filter: blur(var(--blur));
	border-radius: var(--border-radius);
}
:root #splash video {
	display: none;
}
:root #splash video + .splash-text {
	top: 82px;
}
:root #splash video + .splash-text::before {
	content: "";
	position: fixed;
	bottom: 40px;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--brand-logo) center/50% no-repeat;
}

:root {

	--splash-height: unset;
	--splash-width: 255px;
	--padding-horizontal: 45px;
	--padding-vertical: 25px;
	--blur: 5px;
	--box-shadow-color: rgba(0, 0, 0, .65);
	--border-size: 0px;
	--border-radius: var(--primary-rounding);
	--border-color: var(--accent-primary);
	--background-color: var(--background-secondary-alt);
	--content-color: /* unset; */
	var(--background-primary);

}

/* KIA - Settings - 001 */
.contentColumnDefault-1VQkGM {
	margin-top: -90px;
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
}

.sidebarRegion-VFTUkN {
	border: var(--settings-border-size) solid var(--settings-border-color);
	background: var(--background-secondary-alt);
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
	margin-top: var(--settings-header-height);
}

.standardSidebarView-3F1I7i .contentRegion-3nDuYy {
	border: var(--settings-border-size) solid var(--settings-border-color);
	background: var(--background-secondary-alt);
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
	margin: var(--primary-spacing);
	margin-top: var(--settings-header-height);
	margin-bottom: var(--settings-footer-height);
	margin-left: 0!important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

/* Fuck Settings and it's Dumb Animations */
.layer-3QrUeG {
	transform: none !important;
	opacity: 1 !important;
}

.layers-3iHuyZ > .layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ > .layer-3QrUeG.animating-rRxada {
	pointer-events: auto !important;
	will-change: unset;
}

.animating-rRxada.stop-animations {
	z-index: 100 !important;
}



/* Fake Header Lamo */
.sidebarRegionScroller-3MXcoP::before {
	content: "";
	width: 97%;
	height: calc(var(--settings-header-height) / 1.5);
	display: inline-block;
	z-index: 3003;
	position: fixed;
	top: 20px;
	left: 20px;
	border: var(--settings-border-size) solid var(--settings-border-color);
	background: var(--background-secondary-alt);
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
	transition: 150ms ease-in-out;
	box-shadow: none;
}

.sidebarRegionScroller-3MXcoP::after {
	content: "";
	background-color: var(--brand-experiment);
	display: inline-block;
	z-index: 3003;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.sidebar-CFHs9e .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	position: initial;
	transition: 200ms ease-in-out;
}

.sidebar-CFHs9e .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-controls]::after {
	content: attr(aria-controls);
}

.sidebar-CFHs9e .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-label]::after {
	content: attr(aria-label);
}

.sidebar-CFHs9e .side-8zPYf6 .selected-3s45Ha.item-PXvHYJ[aria-controls]:before,
.sidebar-CFHs9e .side-8zPYf6 .selected-3s45Ha.item-PXvHYJ[aria-label]:before,
#bd-settings-sidebar [class*="selected-"].ui-tab-bar-item::before {
	content: "";
	position: fixed !important;
	flex: 0 0 auto !important;
	top: 31px !important;
	left: 37px !important;
	z-index: 2345678 !important;
	scale: 1.3 !important;
	transition: 200ms ease-in;
	width: calc(var(--usesettingsicons) * var(--settingsiconssize)) !important;
	height: calc(var(--usesettingsicons) * var(--settingsiconssize)) !important;
	background: currentColor !important;
	-webkit-mask: var(--settings-icon) center/contain no-repeat !important;
}



.sidebar-CFHs9e .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ::after {
	transform: scale(1);
	opacity: 1;
	background: none;
	top: calc((var(--settings-header-height) - 0px) * 0.5);
	left: calc(var(--settings-header-height) - -20px);
	width: auto;
	height: auto;
	font-size: 24px;
	font-weight: 900 !important;
	font-family: var(--font-primary);
	color: var(--interactive-normal);
	display: block;
	position: fixed;
	z-index: 3003;
}

/*
.contentRegion-3nDuYy {
	height: 110%;
	margin-top: calc(var(--settings-header-height) - 85px);
}

.contentContainer-14yMzC {
	z-index: 0;
	background-color: var(--background-floating) !important;
}

.noticeRegion-1YviSH {
	bottom: var(--settings-header-height);
}

.side-8zPYf6 > .item-PXvHYJ {
	margin-right: 14px;
}

/* Settings Tabs Recolor */
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
	color: var(--interactive-normal);
	border: var(--settings-border-size) solid var(--settings-border-color);
	background: var(--background-secondary);
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
}

.theme-dark .list-wek7hJ .tabBar-wS4pjJ .tab-17bjMB.active-3JUHqX,
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa,
.theme-dark .header-1VS4tm .tabBar-31Wimb .tab-PQvTH4.active-30vPlA,
.theme-light .list-wek7hJ .tabBar-wS4pjJ .tab-17bjMB.active-3JUHqX,
.theme-light .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa,
.theme-light .header-1VS4tm .tabBar-31Wimb .tab-PQvTH4.active-30vPlA {
	color: var(--interactive-hover);
	border: var(--settings-border-size) solid var(--settings-border-color);
	background: var(--background-secondary-alt);
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
}

/* Close/Back Button */
.toolsContainer-1edPuj {
	margin-top: 40px;
	margin-left: -25px;
}

.toolsContainer-1edPuj {
	position: fixed;
	top: 0;
	z-index: 3005;
	padding-top: calc((var(--settings-header-height) - -14px) * 0.5);
	right: 5px;
}

.closeButton-1tv5uR {
	border: none;
	opacity: 1;
}

.closeButton-1tv5uR svg {
	width: 24px;
	height: 24px;
}

.theme-light .closeButton-1tv5uR:hover,
.theme-dark .closeButton-1tv5uR:hover {
	background: none;
	opacity: 1;
}

.closeButton-1tv5uR:hover + .keybind-KpFkfr {
	opacity: 1 !important;
	transform: scale(1);
}

.closeButton-1tv5uR + .keybind-KpFkfr {
	opacity: 1 !important;
	transform: scale(0);
	transform-origin: center top;
	transition: ease-in-out 323ms,
	transform 100ms ease-in-out 323ms;
	visibility: hidden;
	font-size: 0;
}

.closeButton-1tv5uR + .keybind-KpFkfr::after {
	content: "";
	visibility: visible;
	padding: 0;
	overflow-wrap: break-word;
	text-rendering: optimizelegibility;
	user-select: none;
	vertical-align: baseline;
	pointer-events: none;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: var(--background-primary);
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Back";
	opacity: 1 !important;
	visibility: visible;
	position: relative;
	top: 8px;
	background-color: var(--background-primary);
	border-radius: 4px;
	padding: 8px;
	line-height: 14px;
	font-weight: 500;
	font-size: 13px;
	color: var(--interactive-normal);
	transition: 150ms ease-in-out;
	pointer-events: none;
}

/* Back Button i18n */
html[lang=zh-CN] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "后退";
}

html[lang=zh-TW] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "返回";
}

html[lang=cs] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Zpět";
}

html[lang=da] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Tilbage";
}

html[lang=nl] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Terug";
}

html[lang=fr] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Retour";
}

html[lang=de] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Zurück";
}

html[lang=el] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Πίσω";
}

html[lang=hu] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Vissza";
}

html[lang=it] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Indietro";
}

html[lang=ja] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "戻る";
}

html[lang=ko] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "뒤로 가기";
}

html[lang=pl] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Wstecz";
}

html[lang=pt-PT] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Back";
}

html[lang=pt-BR] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Voltar";
}

html[lang=ru] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Назад";
}

html[lang=sk] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Back";
}

html[lang=es-ES] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Atrás";
}

html[lang=sv-SE] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Tillbaka";
}

html[lang=tr] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Geri";
}

html[lang=bg] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Назад";
}

html[lang=uk] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Назад";
}

html[lang=fi] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Takaisin";
}

html[lang=no] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Tilbake";
}

html[lang=hr] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Natrag";
}

html[lang=ro] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Înapoi";
}

html[lang=lt] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Atgal";
}

html[lang=th] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "ย้อนกลับ";
}

html[lang=vi] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Trở lại";
}

html[lang=hi] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "वापस जाएं";
}

.sidebarRegionScroller-3MXcoP {
	margin-bottom: 10px;
}

.marginTop40-i-78cZ {
	margin-top: 5px;
	border: none;
}

.hero-EvfTTA {
	height: 420px;
	background-image: url("https://i.imgur.com/NBvRLE7.gif") !important;
	max-width: 1720px;
	min-width: 400px;
	background-position-y: 27%;
	background-position-x: 10%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: var(--border-radius);
	text-align: left;
}

.marketingLogo-1D8DV6 {
	height: 80px;
	background: linear-gradient(var(--special-gradient));
	max-width: 1630px;
	min-width: 400px;
	background-position-y: 57%;
	background-position-x: 10%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: var(--border-radius);
}

.marketingLogoIcon-3bZq9h {
	margin-left: 600px;
}

.featuresHeader-4YwLcc,
.marketingRefreshTier2Cta-bw9Vyc {
	display: none;
}

.marketingRefreshSectionTier1-dRwS-6 {
	margin-top: 0px;
}

[src="/assets/5a4ac7879fb43bc2509169b8fac68a4a.svg"] {
	transform: scale(1.5);
	margin-left: 120px;
	margin-top: 50px;
}

.heroIcon-3QgOM5,
.hero-EvfTTA .heroHeader-IulZgg,
.heroBody-2P4UF5,
.heroButtons-2NvgKB {
	margin-left: -40%;
	top: 20%;
	margin-top: 10px;
	transform: scale(1.1);
	position: relative;
}

.typeWindows-1za-n7 {
	z-index: 9999999999999;
}



.contentRegionScroller-26nc1e .toolsContainer-1edPuj {
	margin-right: 5px;
	-webkit-app-region: drag;
	background-color: transparent;
	opacity: 1;
	scale: 0.9;
	border-radius: 12px;
	top: -52px;
	z-index: 99999999999;
}


::-webkit-scrollbar {
	display: none;
}

/* Card */
.background-1QDuV2 {
	margin-top: 50px;
	margin-left: 2%;
	margin-right: 2%;
}

.accountProfileCard-1XCH88 {
	margin-top: -13px;
	margin-left: -2%;
	margin-right: -6.6%;
	background-color: transparent;
}

[class*="settingsBanner"] {
	transition: 200ms ease-in;
}

[class*="settingsBanner"]:hover,
[class*="avatar-1uQSZT"]:hover::before {
	transition: 300ms ease-out;
	height: 380px !important;
	z-index: 0;
}

[class*="avatar-1uQSZT"] {
	top: 8px;
}

[class*="accountProfileCard"] .profileCardUsernameRow-1koz7u,
[class*="accountProfileCard"] .container-q03LZO {
	margin-left: -100px;
}

[class*="avatar-1uQSZT"]::before {
	content: "";
	position: absolute;
	background: #000 var(--user-background) var(--user-popout-position, center)/cover no-repeat;
	background-attachment: var(--user-background, fixed);
	top: -10px;
	left: -16px;
	width: 1384%;
	height: 128%;
	transition: 200ms ease-in;
	display: var(--usrbg-in-settings);
}

[class*="avatar-1uQSZT"]:hover::before {
	content: "";
	background: #000 var(--user-background) var(--user-popout-position, center)/cover no-repeat;
	background-attachment: var(--user-background, fixed);
	top: -10px;
	left: -16px;
	width: 1384%;
	display: var(--usrbg-in-settings);
}

[class*="popoutInfo-pKbpvG"] {
	margin-top: -5px;
}

/* Remove The Trash */
[class*="preview-yzOwK1"] [class*="profileBadges-ohc0Vu"],
[class*="preview-yzOwK1"] [class*="customStatus-oN4ZZY"],
[class*="fakeActivity"],
[class*="avatarHint"] {
	display: none;
}

[class*="avatar"] {
	border: none !important;
}

.preview-2nSL_2 .avatar-1BDn8e {
	z-index: 0;
}

.preview-2nSL_2 {
	box-shadow: none !important;
	background: transparent !important;
}

[class*="theme-dark"] [class*="preview-yzOwK1"]::after {
	content: "USRBG/BetterBG = ❌ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆";
	background: #7b2d2d;
	color: var(--interactive-active);
	padding: 15px;
	margin-top: 15px;
	border-radius: 8px;
	display: block;
	max-width: 292px;
}

[class*="theme-light"] [class*="preview-yzOwK1"]::after {
	content: "USRBG/BetterBG = ❌ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆";
	background: #e57d7d;
	color: var(--interactive-active);
	padding: 15px;
	margin-top: 15px;
	border-radius: 8px;
	display: block;
	max-width: 292px;
}


.separator-gCa7yv {
	display: none;
}

.header-2RyJ0Y {
	color: var(--header-primary);
	font-weight: bolder;
	font-size: 12px;
	padding-bottom: 5px;
}

.contentRegion-3nDuYy .contentColumn-2hrIYH {
	margin-bottom: 30px;
}


/* USER SETTINGS */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ * {
	order: 0;
}

/* BETTERDISCORD SETTINGS */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ * {
	order: -1;
}

/* CHANGELOG/HYPESQUAD/DEVELOPER */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ * {
	order: 5;
}

/* LOGOUT */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ * {
	order: 6;
}

/* APP SETTINGS */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ * {
	order: 0;
}

/* ACTIVITY SETTINGS */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ * {
	order: 4;
}

/* Make Social Links And App Info a Footer */
.line-3ColD0 {
	display: flex;
	flex-direction: row;
}

.socialLinks-3jqNFy {
	position: fixed;
	z-index: 1;
	bottom: 18px;
	right: 55px;
	padding-bottom: 11px;
	padding-top: 17px;
	border-left: var(--settings-border-size) solid var(--settings-border-color);
}

.info-1VyQPT {
	position: fixed;
	bottom: 20px;
	left: 280px;
	width: 78.1%;
	height: 42px;
	margin: 0;
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
	background-color: var(--background-secondary-alt);
	border-top: var(--settings-border-size) solid var(--settings-border-color);
}

/* Reposition The Logout Tab to The Footer */
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Logout-tab" i] {
	position: fixed;
	bottom: 23px;
	right: 34px;
	font-size: 0;
	width: 30px;
	height: 30px;
	padding-left: 6px;
	z-index: 1;
}

/* Reposition Change Log & HypeSquad to The Header */
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="ChangeLog-tab" i],
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Change Log-tab" i],
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Change-Log-tab" i] {
	position: fixed;
	top: 24px;
	right: 60px;
	font-size: 0;
	width: 30px;
	height: 30px;
	padding-left: 6px;
	z-index: 10000;
}

.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Hypesquad Online-tab" i],
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Hypesquad-Online-tab" i] {
	position: fixed;
	top: 25px;
	right: 90px;
	font-size: 0;
	width: 30px;
	height: 30px;
	padding-left: 6px;
	z-index: 10000;
}

/* Remove The Selcted Color When on Hypesquad Tab */
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-controls="Hypesquad-Online-tab" i],
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-controls="Hypesquad-Online-tab" i]:hover,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-controls="Hypesquad-Online-tab" i],
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-controls="Hypesquad-Online-tab" i]:hover {
	border-color: none !important;
	color: var(--interactive-normal) !important;
	border: 0px solid !important;
	background-color: transparent !important;
}

/* Version Extra */
.info-1VyQPT .colorMuted-HdFt4q:last-child:before {
	content: "Skin: " var(--theme) ", Author: " var(--author) !important;
	display: var(--version-enable) !important;
	padding-right: 4px;
}

.info-1VyQPT .colorMuted-HdFt4q:last-child:after {
	content: "" !important;
	display: var(--version-enable) !important;
	padding-left: 1px;
}

.info-1VyQPT .colorMuted-HdFt4q:first-child:before {
	content: "Theme: " var(--theme) ", Owner: " var(--author) ",";
	display: var(--version-enable);
	padding-right: 4px;
}

.info-1VyQPT .colorMuted-HdFt4q:first-child:after {
	content: ", Theme-Version: " var(--version);
	display: var(--version-enable);
	padding-left: 1px;
}

.socialLinks-3jqNFy::before {
	display: block !important;
	position: fixed !important;
	content: "" !important;
	bottom: 28px !important;
	right: 165px !important;
	width: 25px !important;
	height: 25px !important;
	background: var(--brand-logo) center/80% no-repeat !important;
	z-index: 1;
}

.socialLinks-3jqNFy::after {
	display: block !important;
	position: fixed !important;
	content: "" !important;
	bottom: 28px !important;
	right: 195px !important;
	width: 25px !important;
	height: 25px !important;
	background: var(--dev-logo) center/80% no-repeat !important;
	z-index: 1;
}

:root {

	--usrbg-in-settings: var(--yes-usrbg);
	--no-usrbg: none;
	--yes-usrbg: block;
	--settings-header-height: 60px;
	--settings-footer-height: 60px;
	--settings-border-color: var(--accent-primary);
	--settings-border-size: 0px; /* Too Lazy to fix */

}
