/* Imports */
@import url("https://therealgwjosh.github.io/Snippets/CSS/Settings/icons.css"); /* Settings - 001 */
@import url("https://therealgwjosh.github.io/BannerBG/src/banners.css"); /* BannerBG - 003 */

/* KIA - BannerBG - 003 */
.container-3w7J-x .header-2V-4Sw::before {
	position: var(--BannerBG-Server-Position);
	content: "";
	top: var(--BannerBG-Server-Top);
	left: var(--BannerBG-Server-Left);
	height: var(--BannerBG-Server-Height);
	width: var(--BannerBG-Server-Width);
	background-image: var(--BannerBG-Server-Banner);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: var(--primary-rounding) !important;
}

.container-3w7J-x .header-2V-4Sw:hover::before {
	-webkit-mask: linear-gradient(transparent, var(--background-primary) 200%);
}

.container-3w7J-x .header-2V-4Sw::before {
	-webkit-mask: none;
}


/* Spacing */
.container-3w7J-x .header-2V-4Sw {
	height: var(--BBG-CreArts-Header-Height) !important;
	padding-bottom: var(--BBG-CreArts-Header-Padding) !important;
}


/* Info Hide */
.container-3w7J-x .name-1jkAdW,
.container-3w7J-x .button-1w5pas {
	z-index: var(--BBG-CreArts-Header-Z-Index) !important;
	opacity: var(--BBG-CreArts-Header-Opacity-0) !important;
	transition: var(--BBG-CreArts-Header-Transition) !important;
}

.container-3w7J-x .header-2V-4Sw:hover .name-1jkAdW,
.container-3w7J-x .header-2V-4Sw:hover .button-1w5pas {
	z-index: var(--BBG-CreArts-Header-Z-Index) !important;
	opacity: var(--BBG-CreArts-Header-Opacity-1) !important;
	transition: var(--BBG-CreArts-Header-Transition) !important;
}

.container-3w7J-x .header-2V-4Sw:hover .name-1jkAdW {
	color: var(--BBG-CreArts-Header-Color) !important;
}

/* KIA - Better Splash - 002 */
.platform-web .container-16j22k {
	background-color: var(--content-color);
	backdrop-filter: blur(var(--blur));
	border-radius: var(--border-radius);
}
.platform-web .content-1-zrf2 {
	width: var(--splash-width);
	padding-top: var(--padding-horizontal);
	padding-bottom: var(--padding-horizontal);
	padding-left: var(--padding-vertical);
	padding-right: var(--padding-vertical);
	background-color: var(--background-color);
	border: var(--border-size) solid var(--border-color);
	border-radius: var(--border-radius);
	box-shadow: 0px 0px var(--blur) var(--box-shadow-color);
}

.platform-web .content-1-zrf2:after {
	position: fixed;
	top: -140px;
	left: 0;
	bottom: 0;
	right: 0;
	content: "";
	background: var(--brand-logo) center/10% no-repeat !important;
}


.platform-web .container-16j22k video {
	-webkit-mask: linear-gradient(transparent, transparent);
}

:root #splash {
	background-color: var(--content-color);
	backdrop-filter: blur(var(--blur));
	border-radius: var(--border-radius);
}
:root #splash video {
	display: none;
}
:root #splash video + .splash-text {
	top: 82px;
}
:root #splash video + .splash-text::before {
	content: "";
	position: fixed;
	bottom: 40px;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--brand-logo) center/50% no-repeat;
}

:root {

	--splash-height: unset;
	--splash-width: 255px;
	--padding-horizontal: 45px;
	--padding-vertical: 25px;
	--blur: 5px;
	--box-shadow-color: rgba(0, 0, 0, .65);
	--border-size: 0px;
	--border-radius: var(--primary-rounding);
	--border-color: var(--accent-primary);
	--background-color: var(--background-secondary-alt);
	--content-color: /* unset; */
	var(--background-primary);

}

/* KIA - Settings - 001 */
.contentColumnDefault-1VQkGM {
	margin-top: -90px;
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
}

.sidebarRegion-VFTUkN {
	border: var(--settings-border-size) solid var(--settings-border-color);
	background: var(--background-secondary-alt);
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
	margin-top: var(--settings-header-height);
}

.standardSidebarView-3F1I7i .contentRegion-3nDuYy {
	border: var(--settings-border-size) solid var(--settings-border-color);
	background: var(--background-secondary-alt);
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
	margin: var(--primary-spacing);
	margin-top: var(--settings-header-height);
	margin-bottom: var(--settings-footer-height);
	margin-left: 0!important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

/* Fuck Settings and it's Dumb Animations */
.layer-3QrUeG {
	transform: none !important;
	opacity: 1 !important;
}

.layers-3iHuyZ > .layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ > .layer-3QrUeG.animating-rRxada {
	pointer-events: auto !important;
	will-change: unset;
}

.animating-rRxada.stop-animations {
	z-index: 100 !important;
}



/* Fake Header Lamo */
.sidebarRegionScroller-3MXcoP::before {
	content: "";
	width: 97%;
	height: calc(var(--settings-header-height) / 1.5);
	display: inline-block;
	z-index: 3003;
	position: fixed;
	top: 20px;
	left: 20px;
	border: var(--settings-border-size) solid var(--settings-border-color);
	background: var(--background-secondary-alt);
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
	transition: 150ms ease-in-out;
	box-shadow: none;
}

.sidebarRegionScroller-3MXcoP::after {
	content: "";
	background-color: var(--brand-experiment);
	display: inline-block;
	z-index: 3003;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.sidebar-CFHs9e .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	position: initial;
	transition: 200ms ease-in-out;
}

.sidebar-CFHs9e .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-controls]::after {
	content: attr(aria-controls);
}

.sidebar-CFHs9e .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-label]::after {
	content: attr(aria-label);
}

.sidebar-CFHs9e .side-8zPYf6 .selected-3s45Ha.item-PXvHYJ[aria-controls]:before,
.sidebar-CFHs9e .side-8zPYf6 .selected-3s45Ha.item-PXvHYJ[aria-label]:before,
#bd-settings-sidebar [class*="selected-"].ui-tab-bar-item::before {
	content: "";
	position: fixed !important;
	flex: 0 0 auto !important;
	top: 31px !important;
	left: 37px !important;
	z-index: 2345678 !important;
	scale: 1.3 !important;
	transition: 200ms ease-in;
	width: calc(var(--usesettingsicons) * var(--settingsiconssize)) !important;
	height: calc(var(--usesettingsicons) * var(--settingsiconssize)) !important;
	background: currentColor !important;
	-webkit-mask: var(--settings-icon) center/contain no-repeat !important;
}



.sidebar-CFHs9e .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ::after {
	transform: scale(1);
	opacity: 1;
	background: none;
	top: calc((var(--settings-header-height) - 0px) * 0.5);
	left: calc(var(--settings-header-height) - -20px);
	width: auto;
	height: auto;
	font-size: 24px;
	font-weight: 900 !important;
	font-family: var(--font-primary);
	color: var(--interactive-normal);
	display: block;
	position: fixed;
	z-index: 3003;
}

/*
.contentRegion-3nDuYy {
	height: 110%;
	margin-top: calc(var(--settings-header-height) - 85px);
}

.contentContainer-14yMzC {
	z-index: 0;
	background-color: var(--background-floating) !important;
}

.noticeRegion-1YviSH {
	bottom: var(--settings-header-height);
}

.side-8zPYf6 > .item-PXvHYJ {
	margin-right: 14px;
}

/* Settings Tabs Recolor */
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
	color: var(--interactive-normal);
	border: var(--settings-border-size) solid var(--settings-border-color);
	background: var(--background-secondary);
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
}

.theme-dark .list-wek7hJ .tabBar-wS4pjJ .tab-17bjMB.active-3JUHqX,
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa,
.theme-dark .header-1VS4tm .tabBar-31Wimb .tab-PQvTH4.active-30vPlA,
.theme-light .list-wek7hJ .tabBar-wS4pjJ .tab-17bjMB.active-3JUHqX,
.theme-light .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa,
.theme-light .header-1VS4tm .tabBar-31Wimb .tab-PQvTH4.active-30vPlA {
	color: var(--interactive-hover);
	border: var(--settings-border-size) solid var(--settings-border-color);
	background: var(--background-secondary-alt);
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
}

/* Close/Back Button */
.toolsContainer-1edPuj {
	margin-top: 40px;
	margin-left: -25px;
}

.toolsContainer-1edPuj {
	position: fixed;
	top: 0;
	z-index: 3005;
	padding-top: calc((var(--settings-header-height) - -14px) * 0.5);
	right: 5px;
}

.closeButton-1tv5uR {
	border: none;
	opacity: 1;
}

.closeButton-1tv5uR svg {
	width: 24px;
	height: 24px;
}

.theme-light .closeButton-1tv5uR:hover,
.theme-dark .closeButton-1tv5uR:hover {
	background: none;
	opacity: 1;
}

.closeButton-1tv5uR:hover + .keybind-KpFkfr {
	opacity: 1 !important;
	transform: scale(1);
}

.closeButton-1tv5uR + .keybind-KpFkfr {
	opacity: 1 !important;
	transform: scale(0);
	transform-origin: center top;
	transition: ease-in-out 323ms,
	transform 100ms ease-in-out 323ms;
	visibility: hidden;
	font-size: 0;
}

.closeButton-1tv5uR + .keybind-KpFkfr::after {
	content: "";
	visibility: visible;
	padding: 0;
	overflow-wrap: break-word;
	text-rendering: optimizelegibility;
	user-select: none;
	vertical-align: baseline;
	pointer-events: none;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: var(--background-primary);
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Back";
	opacity: 1 !important;
	visibility: visible;
	position: relative;
	top: 8px;
	background-color: var(--background-primary);
	border-radius: 4px;
	padding: 8px;
	line-height: 14px;
	font-weight: 500;
	font-size: 13px;
	color: var(--interactive-normal);
	transition: 150ms ease-in-out;
	pointer-events: none;
}

/* Back Button i18n */
html[lang=zh-CN] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "后退";
}

html[lang=zh-TW] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "返回";
}

html[lang=cs] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Zpět";
}

html[lang=da] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Tilbage";
}

html[lang=nl] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Terug";
}

html[lang=fr] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Retour";
}

html[lang=de] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Zurück";
}

html[lang=el] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Πίσω";
}

html[lang=hu] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Vissza";
}

html[lang=it] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Indietro";
}

html[lang=ja] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "戻る";
}

html[lang=ko] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "뒤로 가기";
}

html[lang=pl] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Wstecz";
}

html[lang=pt-PT] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Back";
}

html[lang=pt-BR] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Voltar";
}

html[lang=ru] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Назад";
}

html[lang=sk] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Back";
}

html[lang=es-ES] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Atrás";
}

html[lang=sv-SE] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Tillbaka";
}

html[lang=tr] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Geri";
}

html[lang=bg] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Назад";
}

html[lang=uk] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Назад";
}

html[lang=fi] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Takaisin";
}

html[lang=no] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Tilbake";
}

html[lang=hr] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Natrag";
}

html[lang=ro] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Înapoi";
}

html[lang=lt] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Atgal";
}

html[lang=th] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "ย้อนกลับ";
}

html[lang=vi] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "Trở lại";
}

html[lang=hi] .closeButton-1tv5uR + .keybind-KpFkfr::before {
	content: "वापस जाएं";
}

.sidebarRegionScroller-3MXcoP {
	margin-bottom: 10px;
}

.marginTop40-i-78cZ {
	margin-top: 5px;
	border: none;
}

.hero-EvfTTA {
	height: 420px;
	background-image: url("https://i.imgur.com/NBvRLE7.gif") !important;
	max-width: 1720px;
	min-width: 400px;
	background-position-y: 27%;
	background-position-x: 10%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: var(--border-radius);
	text-align: left;
}

.marketingLogo-1D8DV6 {
	height: 80px;
	background: linear-gradient(var(--special-gradient));
	max-width: 1630px;
	min-width: 400px;
	background-position-y: 57%;
	background-position-x: 10%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: var(--border-radius);
}

.marketingLogoIcon-3bZq9h {
	margin-left: 600px;
}

.featuresHeader-4YwLcc,
.marketingRefreshTier2Cta-bw9Vyc {
	display: none;
}

.marketingRefreshSectionTier1-dRwS-6 {
	margin-top: 0px;
}

[src="/assets/5a4ac7879fb43bc2509169b8fac68a4a.svg"] {
	transform: scale(1.5);
	margin-left: 120px;
	margin-top: 50px;
}

.heroIcon-3QgOM5,
.hero-EvfTTA .heroHeader-IulZgg,
.heroBody-2P4UF5,
.heroButtons-2NvgKB {
	margin-left: -40%;
	top: 20%;
	margin-top: 10px;
	transform: scale(1.1);
	position: relative;
}

.typeWindows-1za-n7 {
	z-index: 9999999999999;
}



.contentRegionScroller-26nc1e .toolsContainer-1edPuj {
	margin-right: 5px;
	-webkit-app-region: drag;
	background-color: transparent;
	opacity: 1;
	scale: 0.9;
	border-radius: 12px;
	top: -52px;
	z-index: 99999999999;
}


::-webkit-scrollbar {
	display: none;
}

/* Card */
.background-1QDuV2 {
	margin-top: 50px;
	margin-left: 2%;
	margin-right: 2%;
}

.accountProfileCard-1XCH88 {
	margin-top: -13px;
	margin-left: -2%;
	margin-right: -6.6%;
	background-color: transparent;
}

[class*="settingsBanner"] {
	transition: 200ms ease-in;
}

[class*="settingsBanner"]:hover,
[class*="avatar-1uQSZT"]:hover::before {
	transition: 300ms ease-out;
	height: 380px !important;
	z-index: 0;
}

[class*="avatar-1uQSZT"] {
	top: 8px;
}

[class*="accountProfileCard"] .profileCardUsernameRow-1koz7u,
[class*="accountProfileCard"] .container-q03LZO {
	margin-left: -100px;
}

[class*="avatar-1uQSZT"]::before {
	content: "";
	position: absolute;
	background: #000 var(--user-background) var(--user-popout-position, center)/cover no-repeat;
	background-attachment: var(--user-background, fixed);
	top: -10px;
	left: -16px;
	width: 1384%;
	height: 128%;
	transition: 200ms ease-in;
	display: var(--usrbg-in-settings);
}

[class*="avatar-1uQSZT"]:hover::before {
	content: "";
	background: #000 var(--user-background) var(--user-popout-position, center)/cover no-repeat;
	background-attachment: var(--user-background, fixed);
	top: -10px;
	left: -16px;
	width: 1384%;
	display: var(--usrbg-in-settings);
}

[class*="popoutInfo-pKbpvG"] {
	margin-top: -5px;
}

/* Remove The Trash */
[class*="preview-yzOwK1"] [class*="profileBadges-ohc0Vu"],
[class*="preview-yzOwK1"] [class*="customStatus-oN4ZZY"],
[class*="fakeActivity"],
[class*="avatarHint"] {
	display: none;
}

[class*="avatar"] {
	border: none !important;
}

.preview-2nSL_2 .avatar-1BDn8e {
	z-index: 0;
}

.preview-2nSL_2 {
	box-shadow: none !important;
	background: transparent !important;
}

[class*="theme-dark"] [class*="preview-yzOwK1"]::after {
	content: "USRBG/BetterBG = ❌ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆";
	background: #7b2d2d;
	color: var(--interactive-active);
	padding: 15px;
	margin-top: 15px;
	border-radius: 8px;
	display: block;
	max-width: 292px;
}

[class*="theme-light"] [class*="preview-yzOwK1"]::after {
	content: "USRBG/BetterBG = ❌ ⬆ ⬆ ⬆ ⬆ ⬆ ⬆";
	background: #e57d7d;
	color: var(--interactive-active);
	padding: 15px;
	margin-top: 15px;
	border-radius: 8px;
	display: block;
	max-width: 292px;
}


.separator-gCa7yv {
	display: none;
}

.header-2RyJ0Y {
	color: var(--header-primary);
	font-weight: bolder;
	font-size: 12px;
	padding-bottom: 5px;
}

.contentRegion-3nDuYy .contentColumn-2hrIYH {
	margin-bottom: 30px;
}


/* USER SETTINGS */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ * {
	order: 0;
}

/* BETTERDISCORD SETTINGS */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ * {
	order: -1;
}

/* CHANGELOG/HYPESQUAD/DEVELOPER */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ * {
	order: 5;
}

/* LOGOUT */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ * {
	order: 6;
}

/* APP SETTINGS */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ * {
	order: 0;
}

/* ACTIVITY SETTINGS */
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv,
.layer-3QrUeG[aria-label="USER_SETTINGS"] .side-8zPYf6 > .header-2RyJ0Y:first-child ~ .separator-gCa7yv ~ .separator-gCa7yv ~ .separator-gCa7yv ~ * {
	order: 4;
}

/* Make Social Links And App Info a Footer */
.line-3ColD0 {
	display: flex;
	flex-direction: row;
}

.socialLinks-3jqNFy {
	position: fixed;
	z-index: 1;
	bottom: 18px;
	right: 55px;
	padding-bottom: 11px;
	padding-top: 17px;
	border-left: var(--settings-border-size) solid var(--settings-border-color);
}

.info-1VyQPT {
	position: fixed;
	bottom: 20px;
	left: 280px;
	width: 78.1%;
	height: 42px;
	margin: 0;
	border-radius: calc(var(--primary-rounding) * 2.5) !important;
	background-color: var(--background-secondary-alt);
	border-top: var(--settings-border-size) solid var(--settings-border-color);
}

/* Reposition The Logout Tab to The Footer */
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Logout-tab" i] {
	position: fixed;
	bottom: 23px;
	right: 34px;
	font-size: 0;
	width: 30px;
	height: 30px;
	padding-left: 6px;
	z-index: 1;
}

/* Reposition Change Log & HypeSquad to The Header */
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="ChangeLog-tab" i],
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Change Log-tab" i],
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Change-Log-tab" i] {
	position: fixed;
	top: 24px;
	right: 60px;
	font-size: 0;
	width: 30px;
	height: 30px;
	padding-left: 6px;
	z-index: 10000;
}

.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Hypesquad Online-tab" i],
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Hypesquad-Online-tab" i] {
	position: fixed;
	top: 25px;
	right: 90px;
	font-size: 0;
	width: 30px;
	height: 30px;
	padding-left: 6px;
	z-index: 10000;
}

/* Remove The Selcted Color When on Hypesquad Tab */
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-controls="Hypesquad-Online-tab" i],
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-controls="Hypesquad-Online-tab" i]:hover,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-controls="Hypesquad-Online-tab" i],
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ[aria-controls="Hypesquad-Online-tab" i]:hover {
	border-color: none !important;
	color: var(--interactive-normal) !important;
	border: 0px solid !important;
	background-color: transparent !important;
}

/* Version Extra */
.info-1VyQPT .colorMuted-HdFt4q:last-child:before {
	content: "Skin: " var(--theme) ", Author: " var(--author) !important;
	display: var(--version-enable) !important;
	padding-right: 4px;
}

.info-1VyQPT .colorMuted-HdFt4q:last-child:after {
	content: "" !important;
	display: var(--version-enable) !important;
	padding-left: 1px;
}

.info-1VyQPT .colorMuted-HdFt4q:first-child:before {
	content: "Theme: " var(--theme) ", Owner: " var(--author) ",";
	display: var(--version-enable);
	padding-right: 4px;
}

.info-1VyQPT .colorMuted-HdFt4q:first-child:after {
	content: ", Theme-Version: " var(--version);
	display: var(--version-enable);
	padding-left: 1px;
}

.socialLinks-3jqNFy::before {
	display: block !important;
	position: fixed !important;
	content: "" !important;
	bottom: 28px !important;
	right: 165px !important;
	width: 25px !important;
	height: 25px !important;
	background: var(--brand-logo) center/80% no-repeat !important;
	z-index: 1;
}

.socialLinks-3jqNFy::after {
	display: block !important;
	position: fixed !important;
	content: "" !important;
	bottom: 28px !important;
	right: 195px !important;
	width: 25px !important;
	height: 25px !important;
	background: var(--dev-logo) center/80% no-repeat !important;
	z-index: 1;
}

:root {

	--usrbg-in-settings: var(--yes-usrbg);
	--no-usrbg: none;
	--yes-usrbg: block;
	--settings-header-height: 60px;
	--settings-footer-height: 60px;
	--settings-border-color: var(--accent-primary);
	--settings-border-size: 0px; /* Too Lazy to fix */

}
