:root {

	--cumcord-funny-text: var(--no-funny-text);
	--main-header-top: .5rem;
	--no-funny-text: none;
	--yes-funny-text: block;
}

/* Cumcord Settings Icons */
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="cumcord_plugins-tab" i]::before {
	--settings-icon: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/plugins.svg);
}

.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="ysink_zone_cumzone-tab" i]::before {
	--settings-icon: url(https://kckarnige.is-a.dev/improved-ui/res/download-chan-icon.svg);
}

/* The Cum Zone - Cumcord Store Plugin */
/* Funny Text */
.ysink_zone_cuminside {
	font-size: 1.2rem;
	padding-bottom: 1rem;
	font-style: italic;
	display: var(--cumcord-funny-text) !important;
}

/* Main Header */
.ysink_zone_ticker {
	margin-top: var(--main-header-top);
	margin-bottom: -70px;
}

/* Plugin Cards */
.ysink_zone_card {
	padding: 1rem;
	border: 2px solid var(--background-secondary-alt);
	border-radius: var(--secondary-rounding);
	display: flex;
	flex-direction: column;
	z-index: 1;
	background-color: var(--background-secondary)
}

.ysink_zone_card .ysink_zone_author_licence {
	font-style: italic;
	width: 109% !important;
	padding: 3px 3px 3px 16px !important;
	margin-left: -16px !important;
	margin-bottom: -16px !important;
	border-radius: 0 0 var(--secondary-rounding) var(--secondary-rounding);
	border-top: 2px solid var(--background-secondary-alt);
}

.ysink_zone_card .ysink_zone_title {
	font-weight: 800;
	font-size: 1rem;
	padding-bottom: .25rem;
	display: inline;
	flex: 1;
	margin: 0
}

/* Add Repo Button */
.ysink_zone_modal .ysink_zone_button {
	border-radius: var(--secondary-rounding);
	position: absolute;
	top: -28px;
	left: 700px;
	scale: 0.3;
	width: 1rem;
	height: 6rem !important;
	font-size: 0;
}

.ysink_zone_modal .ysink_zone_button:before {
	position: absolute;
	top: 35px;
	right: 37px;
	content: "";
	width: 24px;
	height: 24px;
	scale: 2.3;
	background: currentColor;
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/invites.svg) center/contain no-repeat;
}

/* Delete Repo Button */
.ysink_zone_modal .ysink_zone_card .ysink_zone_button {
	border-radius: var(--secondary-rounding);
	position: absolute;
	top: 35px;
	left: 690px;
	scale: 0.3;
	width: 1rem;
	height: 6rem !important;
	font-size: 0;
}

.ysink_zone_modal .ysink_zone_card .ysink_zone_button:before {
	position: absolute;
	top: 35px;
	right: 37px;
	content: "";
	width: 24px;
	height: 24px;
	scale: 2.3;
	background: currentColor;
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/delete.svg) center/contain no-repeat;
}

/* Verified Repo */
.ysink_zone_badge {
	position: absolute;
	font-size: 0;
	border-radius: var(--primary-rounding);
	width: 10px !important;
	height: 10px !important;
}

.ysink_zone_badge:before {
	position: absolute;
	top: -4px;
	right: -4px;
	content: "";
	width: 24px;
	height: 24px;
	scale: 0.5;
	background: currentColor;
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/partner.svg) center/contain no-repeat;
}

/* Store Plugin Card Button */
.ysink_zone_card_container .ysink_zone_card .ysink_zone_button {
	margin-bottom: -1.7rem;
	border-radius: var(--secondary-rounding);
	width: 4rem;
	top: -20px !important;
	left: 20px !important;
	background-color: currentColor;
	scale: 0.4;
	height: 68px !important;
	font-size: 0;
	border: none;
}

.ysink_zone_card_container .ysink_zone_card .ysink_zone_button :before {
	content: "";
	width: 34px;
	height: 34px; 
	scale: 1.5;
	background: var(--header-primary);
	-webkit-mask: url(https://kckarnige.is-a.dev/improved-ui/res/download-chan-icon.svg) center/contain no-repeat !important;
}

/* Global Button Idk */
.ysink_zone_button {
	border-radius: var(--secondary-rounding);
	width: 1rem;
	scale: 0.3;
	top: -35px;
	left: 30px;
	height: 6rem !important;
	font-size: 0;
}

.ysink_zone_button::before {
	content: "";
	width: 24px;
	height: 24px;
	margin-left: 20px;
	scale: 2.4;
	background: currentColor;
	-webkit-mask: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/svgs/settingsicons/advanced.svg) center/contain no-repeat;
}

/* No Dividers */
.ysink_zone_divide {
	border: none;
}

.cumcord-plugin-divider {
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
}

/* Basic Cumcord */

/* No Sliders Just Buttons */
.cumcord-plugin-card .container-3auIfb {
  width: 20px;
  height: 20px;
  background: transparent !important;
}
.cumcord-plugin-card .container-3auIfb .slider-TkfMQL {
  left: -6px !important;
}
.cumcord-plugin-card .container-3auIfb .slider-TkfMQL > rect {
  height: 20px !important;
  width: 20px !important;
  x: 4px !important;
  y: 0px !important;
  rx: 5;
  fill: var(--background-tertiary);
}

.cumcord-plugin-card {
	border: 2px solid var(--background-secondary-alt);
	border-radius: var(--primary-rounding);
	padding: 16px;
	margin-bottom: 10px;
}

.cumcord-card-buttons {
	border: 1px solid var(--background-secondary-alt);
	border-radius: var(--primary-rounding);
	display: flex;
	margin-right: 4px;
	margin-top: 3px;
}

.cumcord-card-buttons > * {
	fill: var(--interactive-normal);
	cursor: pointer;
	width: 14px;
	height: 17px;
}

.cumcord-plugin-import + button {
	position: absolute;
	scale: 0.3;
	width: 1rem;
	height: 6rem;
	top: 76px;
	left: 776px;
	font-size: 0;
	border-radius: var(--primary-rounding);
}

.cumcord-plugin-import + button ::before {
	content: "";
	width: 54px;
	height: 54px; 
	margin-right: -12px;
	scale: 1.5;
	background: var(--header-primary);
	-webkit-mask: url(https://kckarnige.is-a.dev/improved-ui/res/download-chan-icon.svg) center/contain no-repeat !important;
}
