:root {
    --background-message-hover: transparent;
}

.powercord-codeblock-table {
  width: 40vw !important;
}

.container-1ov-mD {
  margin-top: 12px;
}

.scrollerInner-2YIMLh .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--background-secondary);
}

.scrollerInner-2YIMLh .contents-2mQqc9 > .markup-2BOw-j:not(:empty):before {
  border-right: 2px solid var(--background-secondary-alt);
  border-top: 8px solid var(--background-secondary-alt);
}

.groupStart-23k01U .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--background-secondary);
  display: inline-block;
  margin: 8px 0px 0px 0px;
  padding: 8px 8px;
  border-radius: var(--secondary-rounding) !important;
  position: relative;
  overflow: visible;
  max-width: 36vw;
}

.scrollerInner-2YIMLh .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
  background-color: var(--background-secondary);
  display: inline-block;
  margin: 2px 0px 0px 0px;
  padding: 8px 8px;
  border-radius: var(--secondary-rounding);
  position: relative;
  overflow: visible;
  max-width: 36vw;
}


.scrollerInner-2YIMLh .blockquoteContainer-U5TVEi blockquote {
  background: var(--background-secondary);
  border-radius: var(--secondary-rounding);
  padding: 6px 16px 6px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.scrollerInner-2YIMLh .blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6 {
  background: var(--brand-experiment);
  border-radius: 6px 0px 0px 6px;
  width: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}


.scrollerInner-2YIMLh .wrapper-35wsBm {
  background: var(--background-primary);
  border-radius: var(--secondary-rounding);
}

.scrollerInner-2YIMLh .wrapper-35wsBm:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 2px solid var(--background-primary);
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-top: 8px solid var(--background-primary);
  left: -10px;
  top: 2px;
}

[class*="username-1A8OIy"] {
	top: 2px;
    font-size: 14px;
	border: 4px solid var(--background-secondary);
    height: 1.28em;
    display: inline-block;
	padding: 0px 6px 3px 4px;
    border-radius: var(--secondary-rounding);
}

/* Remove Background */
.cozy-3raOZG.message-2qnXI6 {
    background: none !important;
}
.message-2qnXI6::before {
    content: unset !important;
}

/* Mention Color */
.cozy-3raOZG.message-2qnXI6.mentioned-xhSam7 .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) {
    background-color: var(--mention-color-background) !important;
    border: 2px solid var(--mention-color-bar) !important;
}
.cozy-3raOZG.message-2qnXI6.mentioned-xhSam7 .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK):hover {
    background-color: var(--mention-color-hover) !important;

}

/* Replies */
.cozy-3raOZG .repliedMessage-VokQwo {
    border-radius: var(--secondary-rounding);
    margin-bottom: 4px !important;
	padding: 10px 10px 10px 12px;
    background-color: var(--background-secondary-alt);
}
.cozy-3raOZG .repliedMessage-VokQwo::before {
    content: unset !important;
}
.cozy-3raOZG .repliedMessage-VokQwo, .repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type {
    width: 50% !important;
    width: clamp(390px, 100%, 490px) !important;
}

/* Avatars */
/** Smaller avatars and moved chat (also made to not break compact mode because why not) **/
/* Makes avatars smaller and moves them so they fit below the reply arrow (7.5px),
   and moves them 4 pixels up to make them centered to username */
.cozy-3raOZG .avatar-1BDn8e {
  width: 23px;
  height: 23px;
  border: 3px solid var(--background-secondary-alt) !important;
  transform: translateY(-0px);
}
/* Apparently, avatars are supposed to move 1 pixel down when they are clicked on,
   and it messes up the translate in the previous rule, so account for the previous
   translate, and also make the avatars move a bit, since that's what they already do */
.cozy-3raOZG .avatar-1BDn8e:active {
  transform: translateY(calc(-4px + 0.625px));
}
/* Move every message 20 pixels to the left to fill the empty space
   moving the avatar 20 pixels to the right made, default padding is 72px */
.cozy-3raOZG.wrapper-2a6GCs {
  padding-left: calc(72px - 20px);
}
/* Adjusts offline message outlines to look the same as regular messages
   (you're probably never going to notice this anyway, but yeah) */
.wrapper-1F5TKx.cozy-12kSNU .contents-1R-xLu {
  transform: translateX(-20px);
}
.wrapper-1F5TKx.cozy-12kSNU .contents-1R-xLu .avatar-2daVqv {
  width: 25px;
  height: 25px;
  transform: translate(-52px, -4px);
}
/* Move a message reply 20 pixels right to put it above avatar since
   the avatar doesn't move along with the message *//*
.cozy-3raOZG .repliedMessage-VokQwo {
  transform: translateX(calc(20px - calc(calc(40px - 25px) / 2)));
}
/* Make reply arrow touch replied to avatar as well */
.cozy-3raOZG .repliedMessage-VokQwo::before {
  margin-right: 0;
}
/* This all makes the hover timestamp cut into the message just
   a little bit, so move it backwards 5 pixels to adjust */
.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    transform: translateX(-5px);
}
/* Moving the avatar 4 pixels up makes it get cut off in the inbox section,
   so set the overflow to visible so that it doesn't do that*/
.message-2DieIs {
  overflow: visible;
}
