@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css);

.form-2fGMdU .base-gE7OpD {
    background-color: transparent !important;
}
.cooldownWrapper-3joyFc {
    position: relative;
    right: 14px;
    height: 25px;
    padding-left: 4px;
    padding-right: 8px;
    border-radius: var(--secondary-rounding);
    background-color: var(--background-secondary-alt);
}
.text-1y-e8- {
    position: relative;
    right: 36px;
    height: 25px;
    padding-left: 36px;
    padding-right: 8px;
    border-radius: var(--secondary-rounding);
    background-color: var(--background-secondary-alt);
    z-index: 0;
}
.text-1y-e8-:empty {
    display: none;
}
.ellipsis-19qdx6.dots-3Bkt3k.themed-IQiCm3 {
    z-index: 1;
}
.channelTextArea-rNsIhG { margin-bottom: 5px; }

.base-gE7OpD { /* typing and slowmode stuff */
    top: -28px; /* height is 24px */
    background-color: var(--background-primary);
}

/* Colorful Chatbar */
.sprite-2iCowe {
filter: grayscale(0%) !important;}
.stickerButton-3OEgwj {
background: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/symbols/mega.png");
background-size: 20px;
background-position-x: 5px;
background-position-y: 2px;
padding: 0px 0px 0px 10px !important;
background-repeat: no-repeat;}
.icon-3D60ES {
background: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/objects/film_frames.png");
background-size: 20px;
background-position-x: 2px;
background-position-y: 4px;
background-repeat: no-repeat;}
[aria-label="Send a gift"] {
background: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Microsoft/objects/gift.png");
background-size: 20px;
background-position-x: 13px;
background-position-y: 13px;
background-repeat: no-repeat;}
.contents-18-Yxp, .button-3AYNKb, .button-318s1X path {fill: transparent;}
:root {
	
	--chatbar-border-radius: 10px;
	
}

[class*="attachedBars"],
[class*="messagesErrorBar"],
[class*="barBase"] {
	border-radius: var(--chatbar-border-radius) !important;
	margin-bottom: 5px;
	padding: 5px;
}

.scrollableContainer-2NUZem {
	border-radius: var(--chatbar-border-radius);
}

.attachWrapper-2TRKBi .lookBlank-3eh9lL {
	background: var(--background-secondary-alt);
	border-radius: var(--chatbar-border-radius);
}

.attachButton-2dnuIu {
	padding: 0;
	margin: 0;
	height: 44px;
	width: 44px;
}

.buttonContainer-28fw2U:last-child {
	order: -1;
	margin: 0;
}

.attachWrapper-2TRKBi {
	order: 2 !important;
	border-radius: var(--chatbar-border-radius);
	margin: 0;
	margin-left: -6px;
}

.buttons-3JBrkn {
	order: 1 !important;
	background: var(--background-secondary-alt);
	border-radius: var(--chatbar-border-radius);
	padding-right: 0;
	padding-left: 5px;
}

/* Mobile Jump To Present & New Messages Bar */
.newMessagesBar-265mhP {
	padding: 0;
	border-radius: var(--secondary-rounding);
	right: 25px;
	top: 10px !important;
	left: unset;
	height: 45px;
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation-duration: 0.3s;
	animation-name: slidein;
	animation-fill-mode: forwards;
	position: absolute !important;
}

.barButtonAlt-mYL1lj > svg {
	margin: auto;
	width: 20px;
	height: 20px;
}

.barButtonAlt-mYL1lj {
	font-size: 0px;
	padding: 0;
	width: 20px;
	height: 20px;
}

.barButtonMain-3K-jeJ {
	display: none;
	padding: 0;
	font-size: 0px;
}

.jumpToPresentBar-G1R9s6 {
	padding: 0;
	background-color: var(--background-tertiary);
	border-radius: var(--secondary-rounding);
	right: 25px;
	bottom: 15px !important;
	left: unset;
	height: 45px;
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation-duration: 0.3s;
	animation-name: slidein;
	animation-fill-mode: forwards;
}

.jumpToPresentBar-G1R9s6 .spinner-2enMB9 {
	padding: 0;
}

.jumpToPresentBar-G1R9s6 .barButtonMain-3K-jeJ {
	display: none;
}

.jumpToPresentBar-G1R9s6 .barButtonAlt-mYL1lj {
	font-size: 0px;
	padding: 0;
	width: 40px;
	height: 40px;
}

.jumpToPresentBar-G1R9s6 .barButtonIcon-3t4V3d {
	margin: auto;
	width: 40px;
	height: 40px;
}

@keyframes slidein {
	from {
		bottom: -50px;
	}

	to {
		bottom: 45px;
	}
}
