:root.theme-dark {

    --background-primary: #292e3b;
    --background-secondary: #232731;
    --background-secondary-alt: #3b4252;
    --background-tertiary: #2e3340;
    --background-mobile-primary: #434c5e;
    --background-mobile-secondary: #4c556a;
    --channeltextarea-background: #363a48;
    --background-accent: #7289DA;
    --background-message-hover: transparent;
    --background-modifier-hover: #00000010;
    --background-modifier-active: #0000001a;
    --background-modifier-selected: #0000001f;
    --deprecated-card-bg: #2b2c3363;
    --background-floating: #2d3037;
    --deprecated-quickswitcher-input-background:#2e3340;
    --elevation-low: none;
    --activity-card-background: #2e3340;

}
