/* KIA User Popout */
 .userPopout-xaxa6l {
     background-color: var(--background-secondary-alt);
     border-radius: var(--primary-rounding);
}

 .userPopout-xaxa6l .headerNormal-3KXFBt {
     margin: var(--primary-spacing);
     margin-bottom: 0 !important;
}

 .userPopout-xaxa6l .headerNormal-3KXFBt .banner-2QYc2d {
     background-color: var(--background-secondary) !important;
     border-radius: var(--primary-rounding);
     height: 120px;
     width: 100%;
}

 .userPopout-xaxa6l .headerNormal-3KXFBt .bannerPremium-2hSAwz {
     filter: brightness(0.3);
}

 .userPopout-xaxa6l .avatarWrapper-3r9PdD {
     left: var(--secondary-spacing);
     top: var(--secondary-spacing);
}

 .userPopout-xaxa6l .avatarWrapper-3r9PdD .avatar-37jOim {
     background-color: transparent;
     border-radius: var(--primary-rounding);
     height: 99px !important;
     width: 90px !important;
     border: none;
}

 .userPopout-xaxa6l .avatarWrapper-3r9PdD .avatar-37jOim .mask-1l8v16 foreignObject {
     mask: none;
}

 .userPopout-xaxa6l .avatarWrapper-3r9PdD .avatar-37jOim .mask-1l8v16 foreignObject .avatar-VxgULZ {
     background-color: var(--background-primary);
     border-radius: var(--avatar-radius);
}

 .userPopout-xaxa6l .avatarWrapper-3r9PdD .avatar-37jOim .mask-1l8v16 .pointerEvents-2zdfdO {
     user-select: none !important;
     ry: var(--status-radius) !important;
     height: 16px !important;
     width: 16px !important;
     mask: none;
     x: 60;
     y: 60;
}

 .userPopout-xaxa6l .avatarWrapper-3r9PdD .avatarHint-2A3RNb {
     border-radius: var(--primary-rounding);
     height: 99px;
     width: 99px;
     left: 0;
     top: 0;
}

 .userPopout-xaxa6l .avatarWrapper-3r9PdD .avatarHint-2A3RNb foreignObject {
     mask: none;
}

 .userPopout-xaxa6l .headerTop-3vNv-a {
     padding: var(--secondary-spacing) 0 0 0;
     right: var(--primary-spacing);
     position: absolute;
     height: 100px;
     width: 171px;
}

 .userPopout-xaxa6l .headerTop-3vNv-a .profileBadges-ohc0Vu {
     right: var(--primary-spacing);
     top: unset;
     bottom: 0;
}

 .userPopout-xaxa6l .headerTop-3vNv-a .headerText-1vVs-U {
     padding-left: var(--primary-spacing);
}

 .userPopout-xaxa6l .body-3HBlXn {
     background-color: var(--background-secondary);
     border-radius: var(--primary-rounding);
     margin: var(--primary-spacing);
     max-height: 400px;
     padding: 10px;
}

 .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj {
     background-color: var(--background-tertiary);
     border-radius: var(--primary-rounding);
     padding: 6px;
}

 .userPopout-xaxa6l .footer-3UKYOU {
     background-color: var(--background-secondary);
     border-radius: var(--primary-rounding);
     margin: var(--primary-spacing);
     margin-top: 0 !important;
     padding: 16px;
}

/* USRBG - Mini Modal */

#app-mount .popoutBanner-19WKGg::before,
#app-mount .profileBanner-33-uE1::before {
	content: "";
	position: absolute;
	background: #000 var(--user-background) var(--user-popout-position, center)/cover no-repeat;
	background-attachment: var(--user-background, fixed);
    filter: brightness(0.3);
	border-radius: var(--primary-rounding);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.headerText-1vVs-U {
position: fixed;
margin-left: -145px;
}
.banner-2QYc2d.popoutBannerPremium-1n96gg.bannerPremium-2hSAwz {
  width: 450px !important;
}
.customStatus-3NamXG {
  margin-top: 20px !important;
}
.avatar-37jOim.wrapper-3t9DeA {
  width: 160px !important;
  height: 160px !important;
}
.avatarHint-2A3RNb {
  display: none !important;
}
.userPopout-xaxa6l {
  width: 450px !important;
}
.banner-2QYc2d.popoutBanner-19WKGg {
  width: 430px !important;
}

/* Comfy Colors - Mini Modal */
:root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu { padding: 16px; margin: 10px; z-index: 1;}:root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu .headerText-1HLrL7, :root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu .activityName-1IaRLn,:root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu .content-3JfFJh, :root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu .details-38sfDr, :root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu .name-29ETJS,:root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu .nameNormal-2lqVQK, :root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu .nameWrap-3Z4G_9{color: var(--header-primary);}:root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu .button-38aScr{border: none; background-color: #ffffff36;color: #fff;}:root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu::before {content: "";position: absolute;width: 100%;height: 100%;border-radius: var(--primary-rounding);z-index: -2;left: 0;top: 0;background: var(--brand-color);}:root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu .timeBarUserPopout-AWPFf2::before {content: "";position: absolute;width: 100%;height: 100%;border-radius: var(--primary-rounding);z-index: -1;left: 0;top: 0;background: var(--spotify-color);}:root .userPopout-xaxa6l .body-3HBlXn .bodyInnerWrapper-26fQXj .activity-2INFPu .spotifyIcon-2J9kSv {display: none;}
