/* Minified Server List */
.wrapper-3NnKdC {
    opacity: 0;
    transition: opacity 200ms ease;
}
.wrapper-3NnKdC:hover {
    opacity: 1;
}
/*Width*/
.wrapper-3NnKdC {
    width: 1px;
    min-width: 15px;
    transition: 400ms ease;
    transition-property: width, min-width;
}
.wrapper-3NnKdC:hover {
  width: 70px;
  min-width: 68px;
}

/* Reposition The Avatar */
[class*="panels-j1Uci"] > [class*="container-3baos1"] > [class*="avatarWrapper-2yR4wp"] {
	position: revert !important;
	background-color: var(--background-floating) !important;
	padding: 5px;
}
/* Add More Height To The Panel + Change The Border Radius And Recolor The User Buttons */
[class*="panels-j1Uci"] {
	padding-bottom: 76px !important;
}
/* Resize The User Buttons */
[class*="container-3baos1"] [class*="button-14-BFJ"] {
	background-color: var(--background-floating) !important;
	margin: 2px 7px 2px -4px;
	left: 10px;
	height: 42px;
	width: 58px !important;
	top: 0px !important;
}
/* USRBG/BetterBG Support For The User Panel */
[class*="panels-j1Uci"] [class*="avatar-SmRMf2"]::before {
    content: '';
    position: absolute;
    width: 234px;
    height: 74px;
	border-radius: var(--Panel-Border-Radius);
    bottom: -84px !important;
	left: -10px !important;
	z-index: -1;
    background: var(--user-background, var(--user-accent-color));
    background-size: cover;
    background-repeat: no-repeat;
	pointer-events: none;
}
