/* You've gone offline */
.container-16j22k {background: transparent; pointer-events: none}
.container-16j22k>div {display: none}
.container-16j22k::before {
    content: "Loadin Discord, Check Your Internet Maybe?";
    display: block;
    bottom: 24px; right: 24px;
    position: absolute;
    padding: 8px 16px;
    background-color: #f04747;
    border-radius: var(--secondary-rounding);
    color: #fff;
    font-weight: 500
}
