/* Scrollbar Begone */
::-webkit-scrollbar { 
    display: none; 
}

.botTag-2WPJ74 {
  padding-right: 0;
  background: transparent;
}
.botTag-2WPJ74 .botText-1526X_ {
  padding-right: 3px;
  padding-left: 4px;
  border-radius: 4px;
  background: var(--brand-experiment);
}
.botTag-2WPJ74 .botText-1526X_:not(:only-child) {
  display: none;
}
.botTag-2WPJ74 .botTagVerified-1klIIt {
  border-radius: var(--primary-rounding);
  background: var(--brand-experiment);
}

/* Disable Help */
[aria-label="Help"] {
	display: none;
}

/* Fuck Stickers */
.assetWrapper-3GNt0z { 
	max-height: 10vh;
	max-width: 10vh;
}

/* Better Chatbar */
.buttons-3JBrkn {opacity: 1;}
.attachWrapper-2TRKBi {order:1; margin-left:9px;}
.attachButton-2WznTc {padding-right:15px}
.uploadModal-2ifh8j .buttons-3JBrkn {opacity: 1.0;}

/* Support for BetterFormattingRedux */
#bfredux::before {
  background: var(--channeltextarea-background);
}

/* Stage BS */
[class*="nowPlayingSidebar"] {
display: none;
}
.container-24CyRy {
display: none;
}
.pageContent-1xgXch {
background-color: var(--bar-background-primary);
height: 480px;
}

/* setting button spinning */
@keyframes spin { from { transform: rotate(0deg); }
to { transform: rotate(360deg); } }
.button-14-BFJ[aria-label="User Settings"]:hover svg { animation: spin 2s linear infinite; }

::-webkit-scrollbar { display: none;}.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.container-2Pjhx- { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;} .buttons-3JBrkn { padding-right: 10px !important;}

[class*="bannerOverlay"] {
	display: none;
	pointer-events: none;
}

/* Make Active Now Resizeable */
.nowPlayingColumn-2sl4cE, .nowPlayingSidebar-2OFn0o {
  flex: unset; max-width: unset;
  overflow: hidden;
  height: var(--active-now-height); 
  min-height: var(--active-now-height);
  max-height: var(--active-now-height);
}
/* Make The Tab Body a Column */
.tabBody-3YRQ8W, .pageContent-1xgXch, .stageSection-3mAD8V  {
  display: flex;
  flex-flow: column nowrap;
}
