:root {

	--status-width: 6px;
	--status-height: 32px;
	--status-height-settings: 80px;
	--status-height-main-modal: 120px;
	--status-height-mini-modal: 80px;
	--status-height-user-info: 38px;
	--status-top: 0%;

}

/* Reposition The Avatar */
[class*="panels-j1Uci"] > [class*="container-3baos1"] > [class*="avatarWrapper-2yR4wp"] {
	position: revert !important;
	background-color: var(--background-floating) !important;
	padding: 5px;
	margin-left: -4px;
}
/* Add More Height To The Panel + Change The Border Radius And Recolor The User Buttons */
[class*="panels-j1Uci"] {
	padding-bottom: 76px !important;
}
/* Resize The User Buttons */
[class*="container-3baos1"] [class*="button-14-BFJ"] {
	background-color: var(--background-floating) !important;
	margin: 2px 7px 2px -4px;
	left: 10px;
	height: 42px;
	width: 56px !important;
	top: 0px !important;
}
/* USRBG/BetterBG Support For The User Panel */
[class*="panels-j1Uci"] [class*="avatar-SmRMf2"]::before {
    content: '';
    position: absolute;
    width: 234px;
    height: 74px;
	border-radius: var(--Panel-Border-Radius);
    bottom: -84px !important;
	left: -14px !important;
	z-index: -1;
    background: var(--user-background, var(--user-accent-color));
    background-size: cover;
    background-repeat: no-repeat;
	pointer-events: none;
}

/* Status pills */
[class*="wrapper"] svg {
	overflow: visible;
}

/* member list */
[class*="channel-2QD9_O"] .wrapper-3t9DeA > .mask-1l8v16 > rect,
[class*="member-3-YXUe"] .wrapper-3t9DeA > .mask-1l8v16 > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -13;
	y: var(--status-top);
	width: var(--status-width);
	height: var(--status-height);
	rx: 3px;
}

[class*="channel-2QD9_O"] .wrapper-3t9DeA > .mask-1l8v16 > svg > rect,
[class*="member-3-YXUe"] .wrapper-3t9DeA > .mask-1l8v16 > svg > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -27;
	y: -2;
	width: var(--status-width);
	height: var(--status-height);
	rx: 3px;
}

.avatar-3uk_u9 {
	margin-left: 3px;
}

/* bottom left user panel*/
.container-3baos1 .wrapper-3t9DeA > .mask-1l8v16 > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -10;
	y: var(--status-top);
	width: var(--status-width);
	height: var(--status-height);
	rx: 3px;
}

.container-3baos1 .wrapper-3t9DeA > .mask-1l8v16 > svg > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -27;
	y: -2;
	width: var(--status-width);
	height: var(--status-height);
	rx: 3px;
}

.avatar-SmRMf2 {
	margin-left: 8px;
}

/* Global */
[class*="wrapper"] > [class*="mask"] > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -10;
	y: var(--status-top);
	width: var(--status-width);
	height: var(--status-height);
	rx: 3px;
}

[class*="wrapper"] > [class*="mask"] > svg > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -27;
	y: -2;
	width: var(--status-width);
	height: var(--status-height);
	rx: 3px;
}

/* Settings */
[class*="accountProfileCard"] [class*="wrapper"] > [class*="mask"] > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -10 !important;
	y: var(--status-top);
	width: var(--status-width);
	height: var(--status-height-settings) !important;
	rx: 3px;
}

[class*="accountProfileCard"] [class*="wrapper"] > [class*="mask"] > svg > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -27;
	y: -2;
	width: var(--status-width);
	height: var(--status-height-settings) !important;
	rx: 3px;
}

/* Main Modal */
[class*="root-3QyAh1"] [class*="wrapper"] > [class*="mask"] > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -10;
	y: var(--status-top);
	width: var(--status-width);
	height: var(--status-height-main-modal) !important;
	rx: 3px;
}

[class*="root-3QyAh1"] [class*="wrapper"] > [class*="mask"] > svg > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -27;
	y: -2;
	width: var(--status-width);
	height: var(--status-height-main-modal) !important;
	rx: 3px;
}

/* Mini Modal */
[class*="userPopout"] [class*="wrapper"] > [class*="mask"] > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -10;
	y: var(--status-top);
	width: var(--status-width);
	height: var(--status-height-mini-modal) !important;
	rx: 3px;
}

[class*="userPopout"] [class*="wrapper"] > [class*="mask"] > svg > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -27;
	y: -2;
	width: var(--status-width);
	height: var(--status-height-mini-modal) !important;
	rx: 3px;
}

/* User list */
[class*="userInfo"] [class*="wrapper"] > [class*="mask"] > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -10;
	y: -3 !important;
	width: var(--status-width);
	height: var(--status-height-user-info) !important;
	rx: 3px;
}

[class*="userInfo"] [class*="wrapper"] > [class*="mask"] > svg > rect {
	display: var(--avatar-status);
	mask: none;
	pointer-events: none;
	x: -27;
	y: -2;
	width: var(--status-width);
	height: var(--status-height-mini-user-info) !important;
	rx: 3px;
}


[class*="wrapper"] [class*="dots"] {
	overflow: visible;
	color: rgba(0,0,0,.85) !important;
}

[class*="wrapper"] [class*="dots"] circle {
	cy: -7.5;
}

[class*="wrapper"] [class*="dots"] circle:nth-child(1) {
	cx: -8.5;
}

[class*="wrapper"] [class*="dots"] circle:nth-child(2) {
	cx: -2.25;
}

[class*="wrapper"] [class*="dots"] circle:nth-child(3) {
	cx: 4;
}

[class*="wrapper"] foreignObject[mask*="typing"] {
	mask: none;
}
